<div class="footer">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<ul class="list-unstyled list-inline social text-center no-margin">
				<li class="list-inline-item"><a href="javascript:void();"><i
						class="fa fa-facebook"></i></a></li>
				<li class="list-inline-item"><a href="javascript:void();"><i
						class="fa fa-twitter"></i></a></li>
				<li class="list-inline-item"><a href="javascript:void();"><i
						class="fa fa-instagram"></i></a></li>
				<li class="list-inline-item"><a href="javascript:void();"><i
						class="fa fa-google-plus"></i></a></li>
				<li class="list-inline-item"><a href="mailto:shinecsl@shinecsl.com">
					<i class="fa fa-envelope"></i></a></li>
			</ul>
		</div>
	</div>
	<div class="row  text-center">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<p jhiTranslate="footer" class="no-margin">This is your footer</p>
		</div>
	</div>
</div>