<div class="modal-header">
    <img class="imgWebsiteDevelopment">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
</div>
<div class="modal-body text-left">
    <h5>Process</h5>    
    <p>We follow a 7-step process to garantee quality solutions :</p>
    <ul class="fa-ul">
        <li><i class="fa-li fa fa-level-down"></i>Gathering Information: Purpose, Main Goals, and Target Audience</li>
        <li><i class="fa-li fa fa-level-down"></i>Planning: Sitemap and Wireframe Creation</li>
        <li><i class="fa-li fa fa-level-down"></i>Design: Page Layouts, Review, and Approval Cycle</li>
        <li><i class="fa-li fa fa-level-down"></i>Content Writing and Assembly</li>
        <li><i class="fa-li fa fa-level-down"></i>Development</li>
        <li><i class="fa-li fa fa-level-down"></i>Testing and Delivery</li>
        <li><i class="fa-li fa fa-level-down"></i>Maintenance: Opinion Monitoring and Regular Updating</li>
    </ul>    
    <h5>End product</h5>
    <p>We are dedicated to build your website with the following requirements :</p>
    <ul class="fa-ul">
        <li><i class="fa-li fa fa-check-square"></i>Flexibility</li>
        <li><i class="fa-li fa fa-check-square"></i>Latest technologies adapted to your requirements</li>
        <li><i class="fa-li fa fa-check-square"></i>Responsive website (adaptabillity to different screen sizes and types
            mobile, tablet, laptop and screen)</li>
        <li><i class="fa-li fa fa-check-square"></i>Cross-browser compatibility</li>
        <li><i class="fa-li fa fa-check-square"></i>Competitive rate</li>
        <li><i class="fa-li fa fa-check-square"></i>Quick delivery</li>
        <li><i class="fa-li fa fa-check-square"></i>Bug free</li>
        <li><i class="fa-li fa fa-check-square"></i>Less possible adjustements</li>
    </ul>
</div>
