<div class="modal-header">
 	<div class="imgWebsiteDevelopment"></div>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
</div>
<div class="modal-body text-left">
    <h4><span jhiTranslate="home.popup.website.process.title">Process</span></h4>    
    <p><span jhiTranslate="home.popup.website.process.text">We follow a 7-step process to garantee quality solutions :</span></p>
    <ul class="fa-ul">
        <li><i class="fa-li fa fa-level-down"></i><span jhiTranslate="home.popup.website.process.textBullet.informationGathering">Gathering Information: Purpose, Main Goals, and Target Audience</span></li>
        <li><i class="fa-li fa fa-level-down"></i><span jhiTranslate="home.popup.website.process.textBullet.planning">Planning: Sitemap and Wireframe Creation</span></li>
        <li><i class="fa-li fa fa-level-down"></i><span jhiTranslate="home.popup.website.process.textBullet.design">Design: Page Layouts, Review, and Approval Cycle</span></li>
        <li><i class="fa-li fa fa-level-down"></i><span jhiTranslate="home.popup.website.process.textBullet.content">Content Writing and Assembly</span></li>
        <li><i class="fa-li fa fa-level-down"></i><span jhiTranslate="home.popup.website.process.textBullet.development">Development</span></li>
        <li><i class="fa-li fa fa-level-down"></i><span jhiTranslate="home.popup.website.process.textBullet.delivery">Testing and Delivery</span></li>
        <li><i class="fa-li fa fa-level-down"></i><span jhiTranslate="home.popup.website.process.textBullet.maintainance">Maintenance: Opinion Monitoring and Regular Updating</span></li>
    </ul>    
    <h4><span jhiTranslate="home.popup.website.endProduct.title">End product</span></h4>
    <p><span jhiTranslate="home.popup.website.endProduct.text">We are dedicated to build your website with the following requirements :</span></p>
    <ul class="fa-ul">
        <li><i class="fa-li fa fa-check-square"></i><span jhiTranslate="home.popup.website.endProduct.textBullet.flexibility">Flexibility</span></li>
        <li><i class="fa-li fa fa-check-square"></i><span jhiTranslate="home.popup.website.endProduct.textBullet.technology">Latest technologies adapted to your requirements</span></li>
        <li><i class="fa-li fa fa-check-square"></i><span jhiTranslate="home.popup.website.endProduct.textBullet.responsive">Responsive website (adaptabillity to different screen sizes and types mobile, tablet, laptop and screen)</span></li>
        <li><i class="fa-li fa fa-check-square"></i><span jhiTranslate="home.popup.website.endProduct.textBullet.crossBrowser">Cross-browser compatibility</span></li>
        <li><i class="fa-li fa fa-check-square"></i><span jhiTranslate="home.popup.website.endProduct.textBullet.competitiveRate">Competitive rate</span></li>
        <li><i class="fa-li fa fa-check-square"></i><span jhiTranslate="home.popup.website.endProduct.textBullet.delivery">Quick delivery</span></li>
        <li><i class="fa-li fa fa-check-square"></i><span jhiTranslate="home.popup.website.endProduct.textBullet.bugFree">Bug free</span></li>
        <li><i class="fa-li fa fa-check-square"></i><span jhiTranslate="home.popup.website.endProduct.textBullet.adjustements">Less possible adjustements</span></li>
    </ul>
</div>
