
<div *ngIf="invoiceValidation">
    <h2><span jhiTranslate="shineWebAppFrontendApp.invoiceValidation.detail.title">Invoice Validation</span> {{invoiceValidation.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="shineWebAppFrontendApp.invoiceValidation.validated">Validated</span></dt>
        <dd>
            <span>{{invoiceValidation.validated}}</span>
        </dd>
        <dt><span jhiTranslate="shineWebAppFrontendApp.invoiceValidation.dateInvoice">Date Invoice</span></dt>
        <dd>
            <span>{{invoiceValidation.dateInvoice | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="shineWebAppFrontendApp.invoiceValidation.user">User</span></dt>
        <dd>
            {{invoiceValidation.userLogin}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'invoice-validation/'+ invoiceValidation.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
