<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myLeavesRejectionLabel" jhiTranslate="shineWebAppFrontendApp.leavesRejection.home.createOrEditLabel">Create or edit a Leaves Rejection</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!leavesRejection.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="leavesRejection.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shineWebAppFrontendApp.leavesRejection.rejected" for="field_rejected">Rejected</label>
            <input type="checkbox" class="form-control" name="rejected" id="field_rejected"
                [(ngModel)]="leavesRejection.rejected" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shineWebAppFrontendApp.leavesRejection.dateModification" for="field_dateModification">Date Modification</label>
            <div class="d-flex">
                <input id="field_dateModification" type="datetime-local" class="form-control" name="dateModification" [(ngModel)]="leavesRejection.dateModification"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shineWebAppFrontendApp.leavesRejection.dateCreation" for="field_dateCreation">Date Creation</label>
            <div class="d-flex">
                <input id="field_dateCreation" type="datetime-local" class="form-control" name="dateCreation" [(ngModel)]="leavesRejection.dateCreation"
                required/>
            </div>
            <div [hidden]="!(editForm.controls.dateCreation?.dirty && editForm.controls.dateCreation?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.dateCreation?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.dateCreation?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shineWebAppFrontendApp.leavesRejection.userCreation" for="field_userCreation">User Creation</label>
            <select class="form-control" id="field_userCreation" name="userCreation" [(ngModel)]="leavesRejection.userCreationId"  required>
                <option *ngIf="!editForm.value.userCreation" [ngValue]="null" selected></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.userCreation?.dirty && editForm.controls.userCreation?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.userCreation?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shineWebAppFrontendApp.leavesRejection.userModification" for="field_userModification">User Modification</label>
            <select class="form-control" id="field_userModification" name="userModification" [(ngModel)]="leavesRejection.userModificationId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
