<div class="modal-header">
    <img class="imgApplication">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
</div>
<div class="modal-body text-left">
    <h5><span jhiTranslate="home.popup.application.development.title">Mobile or web application development</span></h5>
    <p><span jhiTranslate="home.popup.application.development.text1">We develop native mobile applications for IOS and Android or cross-platform(hybrid) applications.</span><br>  
       <span jhiTranslate="home.popup.application.development.text2">Our web solutions follow a 3-tier architecture with a responsive and cross-browser frontend.</span><br>
       <span jhiTranslate="home.popup.application.development.text3">The applications are developed in an agile way with the goal to :</span>
    </p>
    <ul class="fa-ul">
        <li><i class="fa-li fa fa-chevron-circle-right"></i><span jhiTranslate="home.popup.application.development.textBullet.quality">Deliver high product quality</span></li>
        <li><i class="fa-li fa fa-chevron-circle-right"></i><span jhiTranslate="home.popup.application.development.textBullet.customerSatisfaction">Have high customer satisfaction</span></li>
        <li><i class="fa-li fa fa-chevron-circle-right"></i><span jhiTranslate="home.popup.application.development.textBullet.control">Increase project control</span></li>
        <li><i class="fa-li fa fa-chevron-circle-right"></i><span jhiTranslate="home.popup.application.development.textBullet.risks">Reduce risks</span></li>
        <li><i class="fa-li fa fa-chevron-circle-right"></i><span jhiTranslate="home.popup.application.development.textBullet.roi">Have faster ROI</span></li>
    </ul>         
    <h5><span jhiTranslate="home.popup.application.valueAdded.title">Our value-added in application development</span></h5>
    <ul class="fa-ul">
        <li><i class="fa-li fa fa-plus-square"></i><span jhiTranslate="home.popup.application.valueAdded.textBullet.deadline">We have experimented resources who do the estimations and plannings. We make sure that the deadlines are respected.</span></li>
        <li><i class="fa-li fa fa-plus-square"></i><span jhiTranslate="home.popup.application.valueAdded.textBullet.technologyChoose">Our solutions are demand driven and not technology driven. We have expertise in many technologies and will choose the best technology for your requirements.</span></li>
        <li><i class="fa-li fa fa-plus-square"></i><span jhiTranslate="home.popup.application.valueAdded.textBullet.automation">Beyond developping your application we will see if we can help you optimise your process with automation.</span></li>
        <li><i class="fa-li fa fa-plus-square"></i><span jhiTranslate="home.popup.application.valueAdded.textBullet.innovation">We are at the cutting edge of technology and will make you benefit from the latest innovations.</span></li>
        <li><i class="fa-li fa fa-plus-square"></i><span jhiTranslate="home.popup.application.valueAdded.textBullet.flexibillity">Our solutions are flexible, easily upgradeable and scalable.</span></li>
    </ul>
</div>
