<div class="modal-header">
    <img class="imgWebsiteDevelopment">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
</div>
<div class="modal-body text-left">
    <h5>
        Agile development
    </h5>    
    <p>We develop applications using agile methodology with all the benefits that it brings.<br>
       Our ressources are formed and have experience in developing using scrum.<br>
    </p>   
    <h5>Our value-added in application development</h5>
    <ul class="fa-ul">
        <li><i class="fa-li fa fa-chevron-right"></i>Quality is a must.</li>
        <li><i class="fa-li fa fa-chevron-right"></i>We have experimented ressources who do the estimations and plannings. We make sure that the deadlines are respected.</li>
        <li><i class="fa-li fa fa-chevron-right"></i>Our solutions are demand driven and not technology driven. We have expertise in many technologies and will choose the best technology for your requirements.</li>
        <li><i class="fa-li fa fa-chevron-right"></i>Beyond developping your application we will see if we can help you optimise your process with automation.</li>
        <li><i class="fa-li fa fa-chevron-right"></i>We are at the cutting edge of technology and will make you benefit from the latest innovations.</li>
        <li><i class="fa-li fa fa-chevron-right"></i>Our solutions are flexible, easily upgradeable and scalable.</li>
    </ul>
</div>
