@import '../../../../content/scss/shine';

.imgApplication {
    background: url("../../../../content/images/application.png") no-repeat center top;
    @include img-parallax;
	@include full-page-background-image;
	height: 300px;
  	//opacity: 0.8;
	//filter: alpha(opacity=80); /* For IE8 and earlier */	
}

.modal-header {
	height: 300px;
}

.modal-body {
    background-color: $shine-yellow;
}

