
<div *ngIf="leavesSubmission">
    <h2><span jhiTranslate="shineWebAppFrontendApp.leavesSubmission.detail.title">Leaves Submission</span> {{leavesSubmission.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="shineWebAppFrontendApp.leavesSubmission.submitted">Submitted</span></dt>
        <dd>
            <span>{{leavesSubmission.submitted}}</span>
        </dd>
        <dt><span jhiTranslate="shineWebAppFrontendApp.leavesSubmission.dateModification">Date Modification</span></dt>
        <dd>
            <span>{{leavesSubmission.dateModification | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="shineWebAppFrontendApp.leavesSubmission.dateCreation">Date Creation</span></dt>
        <dd>
            <span>{{leavesSubmission.dateCreation | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="shineWebAppFrontendApp.leavesSubmission.userModification">User Modification</span></dt>
        <dd>
            {{leavesSubmission.userModificationLogin}}
        </dd>
        <dt><span jhiTranslate="shineWebAppFrontendApp.leavesSubmission.userCreation">User Creation</span></dt>
        <dd>
            {{leavesSubmission.userCreationLogin}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'leaves-submission/'+ leavesSubmission.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
