
<div *ngIf="leavesSubmission">
    <h2><span jhiTranslate="shineWebAppFrontendApp.leavesSubmission.detail.title">Leaves Submission</span> {{leavesSubmission.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="shineWebAppFrontendApp.leavesSubmission.submitted">Submitted</span></dt>
        <dd>
            <span>{{leavesSubmission.submitted}}</span>
        </dd>
        <dt><span jhiTranslate="shineWebAppFrontendApp.leavesSubmission.leavesDate">Leaves Date</span></dt>
        <dd>
            <span>{{leavesSubmission.leavesDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="shineWebAppFrontendApp.leavesSubmission.user">User</span></dt>
        <dd>
            {{leavesSubmission.userLogin}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'leaves-submission/'+ leavesSubmission.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
