
<div *ngIf="task">
    <h2><span jhiTranslate="shineWebAppFrontendApp.task.detail.title">Task</span> {{task.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="shineWebAppFrontendApp.task.leave">Leave</span></dt>
        <dd>
            <span>{{task.leave}}</span>
        </dd>
        <dt><span jhiTranslate="shineWebAppFrontendApp.task.dateModification">Date Modification</span></dt>
        <dd>
            <span>{{task.dateModification | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="shineWebAppFrontendApp.task.code">Code</span></dt>
        <dd>
            <span>{{task.code}}</span>
        </dd>
        <dt><span jhiTranslate="shineWebAppFrontendApp.task.labelEn">Label En</span></dt>
        <dd>
            <span>{{task.labelEn}}</span>
        </dd>
        <dt><span jhiTranslate="shineWebAppFrontendApp.task.labelFr">Label Fr</span></dt>
        <dd>
            <span>{{task.labelFr}}</span>
        </dd>
        <dt><span jhiTranslate="shineWebAppFrontendApp.task.dateCreation">Date Creation</span></dt>
        <dd>
            <span>{{task.dateCreation | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="shineWebAppFrontendApp.task.userCreation">User Creation</span></dt>
        <dd>
            {{task.userCreationLogin}}
        </dd>
        <dt><span jhiTranslate="shineWebAppFrontendApp.task.userModification">User Modification</span></dt>
        <dd>
            {{task.userModificationLogin}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'task/'+ task.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
