<div>
    <h2>
        <span jhiTranslate="shineWebAppFrontendApp.leavesValidation.home.title">Leaves Validations</span>
        <button class="btn btn-primary float-right jh-create-entity create-leaves-validation" [routerLink]="['/', { outlets: { popup: ['leaves-validation-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="shineWebAppFrontendApp.leavesValidation.home.createLabel">
            Create new Leaves Validation
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="leavesValidations">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="validated"><span jhiTranslate="shineWebAppFrontendApp.leavesValidation.validated">Validated</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="leavesDate"><span jhiTranslate="shineWebAppFrontendApp.leavesValidation.leavesDate">Leaves Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="userLogin"><span jhiTranslate="shineWebAppFrontendApp.leavesValidation.user">User</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let leavesValidation of leavesValidations ;trackBy: trackId">
                <td><a [routerLink]="['../leaves-validation', leavesValidation.id ]">{{leavesValidation.id}}</a></td>
                <td>{{leavesValidation.validated}}</td>
                <td>{{leavesValidation.leavesDate | date:'mediumDate'}}</td>
                <td>
                    {{leavesValidation.userLogin}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../leaves-validation', leavesValidation.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'leaves-validation/'+ leavesValidation.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'leaves-validation/'+ leavesValidation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="leavesValidations && leavesValidations.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
