
<div *ngIf="leavesValidation">
    <h2><span jhiTranslate="shineWebAppFrontendApp.leavesValidation.detail.title">Leaves Validation</span> {{leavesValidation.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="shineWebAppFrontendApp.leavesValidation.validated">Validated</span></dt>
        <dd>
            <span>{{leavesValidation.validated}}</span>
        </dd>
        <dt><span jhiTranslate="shineWebAppFrontendApp.leavesValidation.leavesDate">Leaves Date</span></dt>
        <dd>
            <span>{{leavesValidation.leavesDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="shineWebAppFrontendApp.leavesValidation.user">User</span></dt>
        <dd>
            {{leavesValidation.userLogin}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'leaves-validation/'+ leavesValidation.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
