
<div *ngIf="activityValidation">
    <h2><span jhiTranslate="shineWebAppFrontendApp.activityValidation.detail.title">Activity Validation</span> {{activityValidation.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="shineWebAppFrontendApp.activityValidation.weekNumber">Week Number</span></dt>
        <dd>
            <span>{{activityValidation.weekNumber}}</span>
        </dd>
        <dt><span jhiTranslate="shineWebAppFrontendApp.activityValidation.year">Year</span></dt>
        <dd>
            <span>{{activityValidation.year}}</span>
        </dd>
        <dt><span jhiTranslate="shineWebAppFrontendApp.activityValidation.validated">Validated</span></dt>
        <dd>
            <span>{{activityValidation.validated}}</span>
        </dd>
        <dt><span jhiTranslate="shineWebAppFrontendApp.activityValidation.user">User</span></dt>
        <dd>
            {{activityValidation.userLogin}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'activity-validation/'+ activityValidation.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
