<div>
    <h2>
        <span jhiTranslate="shineWebAppFrontendApp.activityRejection.home.title">Activity Rejections</span>
        <button class="btn btn-primary float-right jh-create-entity create-activity-rejection" [routerLink]="['/', { outlets: { popup: ['activity-rejection-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="shineWebAppFrontendApp.activityRejection.home.createLabel">
            Create new Activity Rejection
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="activityRejections">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="rejected"><span jhiTranslate="shineWebAppFrontendApp.activityRejection.rejected">Rejected</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="weekNumber"><span jhiTranslate="shineWebAppFrontendApp.activityRejection.weekNumber">Week Number</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="year"><span jhiTranslate="shineWebAppFrontendApp.activityRejection.year">Year</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="comment"><span jhiTranslate="shineWebAppFrontendApp.activityRejection.comment">Comment</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="userLogin"><span jhiTranslate="shineWebAppFrontendApp.activityRejection.user">User</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let activityRejection of activityRejections ;trackBy: trackId">
                <td><a [routerLink]="['../activity-rejection', activityRejection.id ]">{{activityRejection.id}}</a></td>
                <td>{{activityRejection.rejected}}</td>
                <td>{{activityRejection.weekNumber}}</td>
                <td>{{activityRejection.year}}</td>
                <td>{{activityRejection.comment}}</td>
                <td>
                    {{activityRejection.userLogin}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../activity-rejection', activityRejection.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'activity-rejection/'+ activityRejection.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'activity-rejection/'+ activityRejection.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="activityRejections && activityRejections.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
