<div class="row jumbotron jumbotron-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h1">
                    Contact us <small>Feel free to contact us</small></h1>
            </div>
        </div>
    </div>
</div>
<div class="row">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d935.7192217725792!2d57.47554782922059!3d-20.263939999151088!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjDCsDE1JzUwLjIiUyA1N8KwMjgnMzMuOSJF!5e0!3m2!1sfr!2smu!4v1534421922580" 
				width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>		
			</div>
		</div>
		<br>
		<div class="row text-center">
			<div class="col-4 box1 pt-4">
				<a href="tel:+230 58273806"><span><i
						class="fa fa-phone fa-3x"></i>
						<h3>Phone</h3>
						<p>+230 58273806</p></span></a>
			</div>
			<div class="col-4 box2 pt-4">
				<span><i class="fa fa-home fa-3x"></i>
						<h3>Address</h3>
						<h6>Office no 6, Kensington Palms</h6>				
						<h6>Sir Guy Forget Ave, Quatre Bornes</h6>
						<h6>Mauritius</h6></span>
			</div>
			<div class="col-4 box3 pt-4">
				<a href="mailto:gneliah@shinecsl.com"><span><i
						class="fa fa-envelope fa-3x"></i>
						<h3>E-mail</h3>
						<p>gneliah@shinecsl.com</p></span></a>
			</div>
		</div>
		<br>
	</div>
</div>