@import '../../content/scss/shine';

a {color: #000;}

a:link{text-decoration:none;}

.box1{background: rgba($green, $alpha);}
.box2{background: rgba($yellow, $alpha);}
.box3{background: rgba($blue, $alpha);}