<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myLeavesLabel" jhiTranslate="shineWebAppFrontendApp.leaves.home.createOrEditLabel">Create or edit a Leaves</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!leaves.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="leaves.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shineWebAppFrontendApp.leaves.leaveDate" for="field_leaveDate">Leave Date</label>
            <div class="input-group">
                <input id="field_leaveDate" type="text" class="form-control" name="leaveDate" ngbDatepicker  #leaveDateDp="ngbDatepicker" [(ngModel)]="leaves.leaveDate"
                required/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="leaveDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.leaveDate?.dirty && editForm.controls.leaveDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.leaveDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shineWebAppFrontendApp.leaves.nbOfHours" for="field_nbOfHours">Nb Of Hours</label>
            <input type="number" class="form-control" name="nbOfHours" id="field_nbOfHours"
                [(ngModel)]="leaves.nbOfHours" required/>
            <div [hidden]="!(editForm.controls.nbOfHours?.dirty && editForm.controls.nbOfHours?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nbOfHours?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.nbOfHours?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shineWebAppFrontendApp.leaves.year" for="field_year">Year</label>
            <input type="number" class="form-control" name="year" id="field_year"
                [(ngModel)]="leaves.year" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shineWebAppFrontendApp.leaves.weekNumber" for="field_weekNumber">Week Number</label>
            <input type="number" class="form-control" name="weekNumber" id="field_weekNumber"
                [(ngModel)]="leaves.weekNumber" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shineWebAppFrontendApp.leaves.comment" for="field_comment">Comment</label>
            <input type="text" class="form-control" name="comment" id="field_comment"
                [(ngModel)]="leaves.comment" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shineWebAppFrontendApp.leaves.day" for="field_day">Day</label>
            <input type="number" class="form-control" name="day" id="field_day"
                [(ngModel)]="leaves.day" required/>
            <div [hidden]="!(editForm.controls.day?.dirty && editForm.controls.day?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.day?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.day?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shineWebAppFrontendApp.leaves.month" for="field_month">Month</label>
            <input type="number" class="form-control" name="month" id="field_month"
                [(ngModel)]="leaves.month" required/>
            <div [hidden]="!(editForm.controls.month?.dirty && editForm.controls.month?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.month?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.month?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shineWebAppFrontendApp.leaves.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="leaves.userId"  required>
                <option *ngIf="!editForm.value.user" [ngValue]="null" selected></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.user?.dirty && editForm.controls.user?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.user?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shineWebAppFrontendApp.leaves.task" for="field_task">Task</label>
            <select class="form-control" id="field_task" name="task" [(ngModel)]="leaves.taskId"  required>
                <option *ngIf="!editForm.value.task" [ngValue]="null" selected></option>
                <option [ngValue]="taskOption.id" *ngFor="let taskOption of tasks; trackBy: trackTaskById">{{taskOption.code}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.task?.dirty && editForm.controls.task?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.task?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shineWebAppFrontendApp.leaves.leavesSubmission" for="field_leavesSubmission">Leaves Submission</label>
            <select class="form-control" id="field_leavesSubmission" name="leavesSubmission" [(ngModel)]="leaves.leavesSubmissionId">
                <option [ngValue]="null"></option>
                <option [ngValue]="leavesSubmissionOption.id" *ngFor="let leavesSubmissionOption of leavessubmissions; trackBy: trackLeavesSubmissionById">{{leavesSubmissionOption.submitted}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shineWebAppFrontendApp.leaves.leavesValidation" for="field_leavesValidation">Leaves Validation</label>
            <select class="form-control" id="field_leavesValidation" name="leavesValidation" [(ngModel)]="leaves.leavesValidationId">
                <option [ngValue]="null"></option>
                <option [ngValue]="leavesValidationOption.id" *ngFor="let leavesValidationOption of leavesvalidations; trackBy: trackLeavesValidationById">{{leavesValidationOption.validated}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shineWebAppFrontendApp.leaves.leavesRejection" for="field_leavesRejection">Leaves Rejection</label>
            <select class="form-control" id="field_leavesRejection" name="leavesRejection" [(ngModel)]="leaves.leavesRejectionId">
                <option [ngValue]="null"></option>
                <option [ngValue]="leavesRejectionOption.id" *ngFor="let leavesRejectionOption of leavesrejections; trackBy: trackLeavesRejectionById">{{leavesRejectionOption.rejected}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
