<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myInvoiceLabel" jhiTranslate="shineWebAppFrontendApp.invoice.home.createOrEditLabel">Create or edit a Invoice</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!invoice.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="invoice.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shineWebAppFrontendApp.invoice.label" for="field_label">Label</label>
            <input type="text" class="form-control" name="label" id="field_label"
                [(ngModel)]="invoice.label" required/>
            <div [hidden]="!(editForm.controls.label?.dirty && editForm.controls.label?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.label?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shineWebAppFrontendApp.invoice.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="invoice.description" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shineWebAppFrontendApp.invoice.amount" for="field_amount">Amount</label>
            <input type="number" class="form-control" name="amount" id="field_amount"
                [(ngModel)]="invoice.amount" required/>
            <div [hidden]="!(editForm.controls.amount?.dirty && editForm.controls.amount?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.amount?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.amount?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shineWebAppFrontendApp.invoice.dateInvoice" for="field_dateInvoice">Date Invoice</label>
            <div class="input-group">
                <input id="field_dateInvoice" type="text" class="form-control" name="dateInvoice" ngbDatepicker  #dateInvoiceDp="ngbDatepicker" [(ngModel)]="invoice.dateInvoice"
                required/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="dateInvoiceDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.dateInvoice?.dirty && editForm.controls.dateInvoice?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.dateInvoice?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shineWebAppFrontendApp.invoice.dateCreation" for="field_dateCreation">Date Creation</label>
            <div class="d-flex">
                <input id="field_dateCreation" type="datetime-local" class="form-control" name="dateCreation" [(ngModel)]="invoice.dateCreation"
                required/>
            </div>
            <div [hidden]="!(editForm.controls.dateCreation?.dirty && editForm.controls.dateCreation?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.dateCreation?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.dateCreation?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shineWebAppFrontendApp.invoice.dateModification" for="field_dateModification">Date Modification</label>
            <div class="d-flex">
                <input id="field_dateModification" type="datetime-local" class="form-control" name="dateModification" [(ngModel)]="invoice.dateModification"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shineWebAppFrontendApp.invoice.document" for="field_document">Document</label>
            <div>
                <img [src]="'data:' + invoice.documentContentType + ';base64,' + invoice.document" style="max-height: 100px;" *ngIf="invoice.document" alt="invoice image"/>
                <div *ngIf="invoice.document" class="form-text text-danger clearfix">
                    <span class="pull-left">{{invoice.documentContentType}}, {{byteSize(invoice.document)}}</span>
                    <button type="button" (click)="clearInputImage('document', 'documentContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_document" (change)="setFileData($event, invoice, 'document', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
            </div>
            <input type="hidden" class="form-control" name="document" id="field_document"
                [(ngModel)]="invoice.document" />
            <input type="hidden" class="form-control" name="documentContentType" id="field_documentContentType"
                [(ngModel)]="invoice.documentContentType" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shineWebAppFrontendApp.invoice.rate" for="field_rate">Rate</label>
            <input type="number" class="form-control" name="rate" id="field_rate"
                [(ngModel)]="invoice.rate" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shineWebAppFrontendApp.invoice.typeInvoice" for="field_typeInvoice">Type Invoice</label>
            <select class="form-control" id="field_typeInvoice" name="typeInvoice" [(ngModel)]="invoice.typeInvoiceId" required>
                <option *ngIf="!editForm.value.typeInvoice" [ngValue]="null" selected></option>
                <option [ngValue]="typeInvoiceOption.id" *ngFor="let typeInvoiceOption of typeinvoices; trackBy: trackTypeInvoiceById">{{typeInvoiceOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.typeInvoice?.dirty && editForm.controls.typeInvoice?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.typeInvoice?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shineWebAppFrontendApp.invoice.invoiceSubmission" for="field_invoiceSubmission">Invoice Submission</label>
            <select class="form-control" id="field_invoiceSubmission" name="invoiceSubmission" [(ngModel)]="invoice.invoiceSubmissionId">
                <option [ngValue]="null"></option>
                <option [ngValue]="invoiceSubmissionOption.id" *ngFor="let invoiceSubmissionOption of invoicesubmissions; trackBy: trackInvoiceSubmissionById">{{invoiceSubmissionOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shineWebAppFrontendApp.invoice.invoiceValidation" for="field_invoiceValidation">Invoice Validation</label>
            <select class="form-control" id="field_invoiceValidation" name="invoiceValidation" [(ngModel)]="invoice.invoiceValidationId">
                <option [ngValue]="null"></option>
                <option [ngValue]="invoiceValidationOption.id" *ngFor="let invoiceValidationOption of invoicevalidations; trackBy: trackInvoiceValidationById">{{invoiceValidationOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shineWebAppFrontendApp.invoice.invoiceRejection" for="field_invoiceRejection">Invoice Rejection</label>
            <select class="form-control" id="field_invoiceRejection" name="invoiceRejection" [(ngModel)]="invoice.invoiceRejectionId">
                <option [ngValue]="null"></option>
                <option [ngValue]="invoiceRejectionOption.id" *ngFor="let invoiceRejectionOption of invoicerejections; trackBy: trackInvoiceRejectionById">{{invoiceRejectionOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shineWebAppFrontendApp.invoice.currency" for="field_currency">Currency</label>
            <select class="form-control" id="field_currency" name="currency" [(ngModel)]="invoice.currencyId"  required>
                <option *ngIf="!editForm.value.currency" [ngValue]="null" selected></option>
                <option [ngValue]="currencyOption.id" *ngFor="let currencyOption of currencies; trackBy: trackCurrencyById">{{currencyOption.code}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.currency?.dirty && editForm.controls.currency?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.currency?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shineWebAppFrontendApp.invoice.userCreation" for="field_userCreation">User Creation</label>
            <select class="form-control" id="field_userCreation" name="userCreation" [(ngModel)]="invoice.userCreationId"  required>
                <option *ngIf="!editForm.value.userCreation" [ngValue]="null" selected></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.userCreation?.dirty && editForm.controls.userCreation?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.userCreation?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shineWebAppFrontendApp.invoice.userModification" for="field_userModification">User Modification</label>
            <select class="form-control" id="field_userModification" name="userModification" [(ngModel)]="invoice.userModificationId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
