<div>
    <h2>
        <span jhiTranslate="shineWebAppFrontendApp.invoice.home.title">Invoices</span>
        <button class="btn btn-primary float-right jh-create-entity create-invoice" [routerLink]="['/', { outlets: { popup: ['invoice-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="shineWebAppFrontendApp.invoice.home.createLabel">
            Create new Invoice
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="invoices">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="label"><span jhiTranslate="shineWebAppFrontendApp.invoice.label">Label</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="shineWebAppFrontendApp.invoice.description">Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="amount"><span jhiTranslate="shineWebAppFrontendApp.invoice.amount">Amount</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dateInvoice"><span jhiTranslate="shineWebAppFrontendApp.invoice.dateInvoice">Date Invoice</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="document"><span jhiTranslate="shineWebAppFrontendApp.invoice.document">Document</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="rate"><span jhiTranslate="shineWebAppFrontendApp.invoice.rate">Rate</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="currencyCode"><span jhiTranslate="shineWebAppFrontendApp.invoice.currency">Currency</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="invoiceRejectionRejected"><span jhiTranslate="shineWebAppFrontendApp.invoice.invoiceRejection">Invoice Rejection</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="invoiceSubmissionSubmitted"><span jhiTranslate="shineWebAppFrontendApp.invoice.invoiceSubmission">Invoice Submission</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="invoiceValidationValidated"><span jhiTranslate="shineWebAppFrontendApp.invoice.invoiceValidation">Invoice Validation</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="typeInvoiceCode"><span jhiTranslate="shineWebAppFrontendApp.invoice.typeInvoice">Type Invoice</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let invoice of invoices ;trackBy: trackId">
                <td><a [routerLink]="['../invoice', invoice.id ]">{{invoice.id}}</a></td>
                <td>{{invoice.label}}</td>
                <td>{{invoice.description}}</td>
                <td>{{invoice.amount}}</td>
                <td>{{invoice.dateInvoice | date:'mediumDate'}}</td>
                <td>
                    <a *ngIf="invoice.document" (click)="openFile(invoice.documentContentType, invoice.document)">
                        <img [src]="'data:' + invoice.documentContentType + ';base64,' + invoice.document" style="max-height: 30px;" alt="invoice image"/>
                    </a>
                    <span *ngIf="invoice.document">{{invoice.documentContentType}}, {{byteSize(invoice.document)}}</span>
                </td>
                <td>{{invoice.rate}}</td>
                <td>
                    <div *ngIf="invoice.currencyId">
                        <a [routerLink]="['../currency', invoice.currencyId  ]" >{{invoice.currencyCode}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="invoice.invoiceRejectionId">
                        <a [routerLink]="['../invoice-rejection', invoice.invoiceRejectionId  ]" >{{invoice.invoiceRejectionRejected}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="invoice.invoiceSubmissionId">
                        <a [routerLink]="['../invoice-submission', invoice.invoiceSubmissionId  ]" >{{invoice.invoiceSubmissionSubmitted}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="invoice.invoiceValidationId">
                        <a [routerLink]="['../invoice-validation', invoice.invoiceValidationId  ]" >{{invoice.invoiceValidationValidated}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="invoice.typeInvoiceId">
                        <a [routerLink]="['../type-invoice', invoice.typeInvoiceId  ]" >{{invoice.typeInvoiceCode}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../invoice', invoice.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'invoice/'+ invoice.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'invoice/'+ invoice.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="invoices && invoices.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
