<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myLeaveConfigLabel" jhiTranslate="shineWebAppFrontendApp.leaveConfig.home.createOrEditLabel">Create or edit a Leave Config</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!leaveConfig.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="leaveConfig.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shineWebAppFrontendApp.leaveConfig.nbSickLeaves" for="field_nbSickLeaves">Nb Sick Leaves</label>
            <input type="number" class="form-control" name="nbSickLeaves" id="field_nbSickLeaves"
                [(ngModel)]="leaveConfig.nbSickLeaves" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shineWebAppFrontendApp.leaveConfig.nbAnnualLeaves" for="field_nbAnnualLeaves">Nb Annual Leaves</label>
            <input type="number" class="form-control" name="nbAnnualLeaves" id="field_nbAnnualLeaves"
                [(ngModel)]="leaveConfig.nbAnnualLeaves" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shineWebAppFrontendApp.leaveConfig.nbSpecialLeaves" for="field_nbSpecialLeaves">Nb Special Leaves</label>
            <input type="number" class="form-control" name="nbSpecialLeaves" id="field_nbSpecialLeaves"
                [(ngModel)]="leaveConfig.nbSpecialLeaves" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shineWebAppFrontendApp.leaveConfig.dateCreation" for="field_dateCreation">Date Creation</label>
            <div class="d-flex">
                <input id="field_dateCreation" type="datetime-local" class="form-control" name="dateCreation" [(ngModel)]="leaveConfig.dateCreation"
                required/>
            </div>
            <div [hidden]="!(editForm.controls.dateCreation?.dirty && editForm.controls.dateCreation?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.dateCreation?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.dateCreation?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shineWebAppFrontendApp.leaveConfig.dateModification" for="field_dateModification">Date Modification</label>
            <div class="d-flex">
                <input id="field_dateModification" type="datetime-local" class="form-control" name="dateModification" [(ngModel)]="leaveConfig.dateModification"
                />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shineWebAppFrontendApp.leaveConfig.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="leaveConfig.userId"  required>
                <option *ngIf="!editForm.value.user" [ngValue]="null" selected></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.user?.dirty && editForm.controls.user?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.user?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shineWebAppFrontendApp.leaveConfig.userCreation" for="field_userCreation">User Creation</label>
            <select class="form-control" id="field_userCreation" name="userCreation" [(ngModel)]="leaveConfig.userCreationId"  required>
                <option *ngIf="!editForm.value.userCreation" [ngValue]="null" selected></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.userCreation?.dirty && editForm.controls.userCreation?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.userCreation?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shineWebAppFrontendApp.leaveConfig.userModification" for="field_userModification">User Modification</label>
            <select class="form-control" id="field_userModification" name="userModification" [(ngModel)]="leaveConfig.userModificationId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
