@import '../../../content/scss/shine';

/* ==========================================================================
Navbar
========================================================================== */
.navbar-version {
    font-size: 10px;
    color: #ccc
}

.jh-navbar {
    background-color: #353d47;
    padding: .2em 1em;
    .profile-image {
        margin: -10px 0px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
    
    .dropdown-toggle::after {
        margin-left: 0.15em;
    }

    ul.navbar-nav {
        padding: 0.5em;
        .nav-item {
            margin-left: 1.5rem;
        }
    }
    a.nav-link {
        font-weight: 400;
    }
}

@media screen and (min-width: $screen-lg) {
    .jh-navbar-toggler {
        display: none;
    }  
}

@media screen and (max-width: $screen-lg) {
    .jh-logo-container {
        width: 100%;
    }
}

.navbar-title {
    display: inline-block;
    vertical-align: middle;
	font-size: 36px;
	margin: 0;
	padding: 0;
	line-height: 1;
	font-weight: 400;
	letter-spacing: 3px;
	text-transform: uppercase;
    /*@media screen and (max-width: $screen-lg) {
		display: none;    
	}*/
}

/* ==========================================================================
Logo styles
========================================================================== */
.navbar-brand {
	//@include charmonman;
      &.logo-blue {
	      //padding: 5px 15px;
	      color: $shine-main;	                
		  &:hover {
			color: $shine-secondary;
		  	//opacity: .7;
		  }			
		 /* &:focus {
			color: darken($shine-main, 5%) !important;
		  } */
    }
    
    &.logo-yellow {
        //padding: 5px 15px;
        color: $shine-main;
	    &:hover {
		   opacity: .7;
		}		
		&:focus {
		   color: darken($shine-main, 5%) !important;
		}
    }
	.logo-img {
		height: 50px;
		width: 30px;
		display: inline-block;
		vertical-align: middle;
		background: url("../../../content/images/logo.png") no-repeat center center;
		background-size: contain;
		image-rendering: crisp-edges;
	}              
}

#navShine {
	transition: all .5s;	
}

.top-bar {
	.nav-link {
		@media screen and (max-width: $screen-lg) {
			background-color: $white;
		}
		color: $shine-main;
		font-size: 13px;
		font-weight: 600;
		padding: 12px 18px!important;
		text-transform: uppercase;
		transition: 0.3s;
		
		&:hover {
			/*border-bottom: 2px solid $shine-secondary;
			border-radius: 0;
			outline: 0;*/
			color: $shine-secondary;
		}
		
		&.active {
			/*border-bottom: 0;*/	
			color: $shine-secondary;
		}
		
		&.active:hover {
			/*border-bottom: 0;
			border-radius: 0;
			outline: 0*/		
			color: darken($shine-secondary, 10%) !important;
		}
	}
	
	.nav-item.active {
		color: $shine-secondary;
	}	
	
	.jh-navbar-toggler {
	    color: $shine-main;
	    font-size: 1.5em;
	    padding: 0.5rem 1rem;
	    &:hover {
	       opacity: .7;
		}
	}
	  
	.dropdown-item {
		&:hover {
		    color: $shine-secondary;		    
			background-color: $shine-light-blue;
		}
		
		&.active {
			color: $shine-secondary;
			background-color: $shine-light-blue;
			&:focus {
				background-color: darken($shine-light-blue, 10%) !important;;			
			}
			&:hover {
				color: darken($shine-secondary, 10%) !important;
			}
		}
	}
	.dropdown-menu-item {
		&.active {
			color: $shine-secondary;
			background-color: $shine-light-blue;
			&:focus {
				background-color: darken($shine-light-blue, 10%) !important;;			
			}
			&:hover {
				color: darken($shine-secondary, 10%) !important;
			}
		}
		> .dropdown-item {
			&.active {
				color: $shine-secondary;
			}
		}	
	}

	.dropdown-menu .sub-menu {
		left: 80%;
		position: absolute;
		top: 0;
		visibility: hidden;
		margin-top: -1px;
		@media screen and (max-width: $screen-lg) {
	    	left: 20%;
	    	top: 50%;
	    	width: 80%;
	    }
	}
	
	.dropdown-menu li:hover>.sub-menu {
		visibility: visible;
		display: block;
	}
}

.top-bar .navbar-nav .nav-item {
	@media screen and (max-width: $screen-lg) {
		margin-bottom: 0px;
	}
	margin-bottom: 2px;
	text-decoration: none;
}

a.dropdown-toggle {  
    border-bottom: transparent solid 2px;  
}  

//@media (min-width: $screen-lg) {
	.bg-nav-others {
		padding: 15px;
	    background-color: $white;
	    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
	}
//}

.bg-nav-main {
	padding: 0;
	top: 30px;
}

.social-links {
  padding: 0 0 10px 0;
  font-size: 14px;
  transition: all 0.5s;
  /*position: fixed;
  height: 40px;
  top: 0px;
  right: 0px;*/
  text-align: right;
 
	a {
	  color: #535074;
	  padding: 4px 12px;
	  display: inline-block;
	  line-height: 1px;
	}
	
	a:hover {
	  color: $shine-secondary;
	}
	
	a:first-child {
	  border-left: 0;
	}
}
