@import '../../../content/scss/shine';

/* ==========================================================================
Navbar
========================================================================== */
.navbar-version {
    font-size: 10px;
    color: #ccc
}

.jh-navbar {
    background-color: #353d47;
    padding: .2em 1em;
    .profile-image {
        margin: -10px 0px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
    .dropdown-item.active, .dropdown-item.active:focus, .dropdown-item.active:hover {
        background-color: #353d47;
    }
    .dropdown-toggle::after {
        margin-left: 0.15em;
    }
    ul.navbar-nav {
        padding: 0.5em;
        .nav-item {
            margin-left: 1.5rem;
        }
    }
    a.nav-link {
        font-weight: 400;
    }
	.jh-navbar-toggler {
	    color: $shine-yellow;
	    font-size: 1.5em;
	    padding: 0.5rem 1rem;
	    &:hover {
	       color: $shine-blue;
		}
	}
}

@media screen and (min-width: 1200px) {
    .jh-navbar-toggler {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .jh-logo-container {
        width: 100%;
    }
}

.navbar-title {
    display: inline-block;
    vertical-align: middle;
}

/* ==========================================================================
Logo styles
========================================================================== */
.navbar-brand {
    &.logo-blue {
        padding: 5px 15px;
        color: $shine-blue;
        .logo-img {
            height: 45px;
            width: 70px;
            display: inline-block;
            vertical-align: middle;
            background: url("../../../content/images/shine.jpg") no-repeat center center;
            background-size: contain;
        }      
            
	    &:hover {
		   color: $shine-dark-gray;
		}
		
		&:focus {
		   color: $shine-blue;
		}
    }
    
    &.logo-yellow {
        padding: 5px 15px;
        color: $shine-yellow;
        .logo-img {
            height: 45px;
            width: 70px;
            display: inline-block;
            vertical-align: middle;
            background: url("../../../content/images/shine.jpg") no-repeat center center;
            background-size: contain;
        }      
            
	    &:hover {
		   color: $shine-green;
		}
		
		&:focus {
		   color: $shine-yellow;
		}
    }

}

.dropdown-menu .sub-menu {
	left: 80%;
	position: absolute;
	top: 0;
	visibility: hidden;
	margin-top: -1px;
}

.dropdown-menu li:hover>.sub-menu {
	visibility: visible;
	display: block;
}

#navShine {
	transition: padding .3s;	
}

.navbar {
	@media screen and (max-width: 1200px) {
		padding: 0px 0px;
	}	
}

.top-bar {
	.nav-link {
		@media screen and (max-width: 1200px) {
			background-color: $shine-dark-gray;
		}
		color: $white;
		font-size: 15px;
		font-weight: 500;
		padding: 12px 18px!important;
		
		&:hover {
			border-bottom: 2px solid $shine-yellow;
			border-radius: 0;
			outline: 0;
			color: $shine-yellow;
		}
		
		&.active {
			border-bottom: 0;	
			color: $shine-yellow;
		}
		
		&.active:hover {
			border-bottom: 0;
			border-radius: 0;
			outline: 0;			
			color: $shine-green;
		}
	}
	
	.nav-item.active {
		border-bottom: 2px solid $shine-yellow;	
		border-radius: 0;
		outline: 0;
		color: $shine-yellow;
	}	
}

.top-bar .navbar-nav .nav-item {
	@media screen and (max-width: 1200px) {
		margin-bottom: 0px;
	}
	margin-bottom: 2px;
	text-decoration: none;
}

a.dropdown-toggle {  
    border-bottom: transparent solid 2px;  
}  

.dropdown-item:hover {
	background-color: $shine-yellow;
}

.dropdown-item.active {
	background-color: $shine-yellow;
}

.bg-nav-dark-gray {
	padding: 0;
    background-color: $shine-dark-gray;
}
