<nav class="navbar navbar-light navbar-expand-xl fixed-top top-bar" id="socialLinks" #socialLinks>
    <div class="container">
    	<div class="float-right w-100">     
	    	<div class="social-links">	    	
				<a href="https://twitter.com/CslShine" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a> 
				<a href="https://www.facebook.com/shineConsultingServicesLtd/" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a> 
				<a href="https://www.linkedin.com/company/shine-consulting-services-ltd/" class="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
				<a href="#" class="instagram" target="_blank"><i class="fa fa-instagram"></i></a> 
	      	</div>
      	</div>
    </div>
</nav>
<nav class="navbar navbar-light navbar-expand-xl fixed-top top-bar bg-nav-main" id="navShine" #navShine>
  <div class="container">
    <div class="jh-logo-container float-left">
        <a class="jh-navbar-toggler float-right" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
            <i class="fa fa-bars"></i>
        </a>
        <a class="navbar-brand logo-blue float-left" routerLink="/" fragment="home" (click)="collapseNavbar()" id="logoShine" #logoShine>
            <!-- <span class="logo-img"></span> -->
            <span jhiTranslate="global.title" class="navbar-title">ShineWebAppFrontend</span> 
<!--            <span class="navbar-version">{{version}}</span> -->
        </a>
    </div>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" [class.active]="isSectionActive('home')" id ="navItemHome" #navItemHome>
                <a class="nav-link" [class.active]="isSectionActive('home')" routerLink="/" fragment="home" (click)="collapseNavbar()" id ="aItemHome" #aItemHome>
                    <span>
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <span jhiTranslate="global.menu.home">Home</span>
                    </span>
                </a>
            </li>

            <li *ngSwitchCase="false" class="nav-item" [class.active]="isSectionActive('aboutUs')" id ="navItemAboutUs" #navItemAboutUs>
                <a class="nav-link" [class.active]="isSectionActive('aboutUs')" routerLink="/" fragment="aboutUs" (click)="collapseNavbar()" id ="aItemAboutUs" #aItemAboutUs>
                    <span>
                        <i class="fa fa-handshake-o" aria-hidden="true"></i>
                        <span jhiTranslate="global.menu.aboutUs">About us</span>
                    </span>
                </a>
            </li>

            <li *ngSwitchCase="false" class="nav-item" [class.active]="isSectionActive('services')" id ="navItemServices" #navItemServices>
                <a class="nav-link" [class.active]="isSectionActive('services')" routerLink="/" fragment="services" (click)="collapseNavbar()" id ="aItemServices" #aItemServices>
                    <span>
                        <i class="fa fa-handshake-o" aria-hidden="true"></i>
                        <span jhiTranslate="global.menu.services">Our Services</span>
                    </span>
                </a>
            </li>
            
<!--            <li *ngSwitchCase="false" class="nav-item" [class.active]="isSectionActive('values')" id ="navItemValues" #navItemValues> -->
<!--                 <a class="nav-link" [class.active]="isSectionActive('values')" routerLink="/" fragment="values" (click)="collapseNavbar()" id ="aItemValues" #aItemValues> -->
<!--                     <span> -->
<!--                         <i class="fa fa-hand-rock-o" aria-hidden="true"></i> -->
<!--                         <span jhiTranslate="global.menu.values">Our Values</span> -->
<!--                     </span> -->
<!--                 </a> -->
<!--             </li> -->

            <li *ngSwitchCase="false" class="nav-item" [class.active]="isSectionActive('contact')" id ="navItemContact" #navItemContact>
                <a class="nav-link" [class.active]="isSectionActive('contact')" routerLink="/" fragment="contact" (click)="collapseNavbar()" id ="aItemContact" #aItemContact>
                    <span>
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <span jhiTranslate="global.menu.contact">Contact us</span>
                    </span>
                </a>
            </li>

<!--             <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> -->
<!--                 <a class="nav-link" routerLink="/about" (click)="collapseNavbar()"> -->
<!--                     <span> -->
<!--                         <i class="fa fa-address-card" aria-hidden="true"></i> -->
<!--                         <span jhiTranslate="global.menu.about">About Shine CSL</span> -->
<!--                     </span> -->
<!--                 </a> -->
<!--             </li> -->
            
            
           <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" [class.active]="isMenuActive('navItemModules')">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu" [class.active]="isMenuActive('navItemModules')">
                    <span>
                        <i class="fa fa-cogs" aria-hidden="true"></i>
                        <span jhiTranslate="global.menu.modules.title">
                            Modules
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
				 <li class="dropdown-menu-item" [class.active]="isDropdownMenuActive('navDropdownMenuLeaves')" id ="navDropdownMenuLeaves" #navDropdownMenuLeaves>
	                <a class="dropdown-item" [class.active]="isDropdownMenuActive('navDropdownMenuLeaves')" href="javascript:void(0);" >                    
		                <span>
	                        <i class="fa fa-fw fa-sign-out" aria-hidden="true"></i>
	                        <span jhiTranslate="global.menu.modules.leaves">
	                            Leaves
	                        </span>
	                        &nbsp;
	                        <i class="fa fa-caret-right" aria-hidden="true"></i>
	                    </span>
                    </a>
	                <ul class="sub-menu dropdown-menu">
	                  <li>
	                     <a class="dropdown-item" routerLink="my-leaves"  (click)="collapseNavbar()" [class.active]="isSectionActive('myLeaves')">
                            <i class="fa fa-fw fa-user" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.modules.myLeaves">My Leaves</span>
                        </a>
	                  </li>
	                  <li *jhiHasAnyAuthority="'ROLE_ADMIN'">
	                     <a class="dropdown-item" routerLink="leaves-team"  (click)="collapseNavbar()" [class.active]="isSectionActive('leavesTeam')">
                            <i class="fa fa-fw fa-users" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.modules.leavesTeam">Team view</span>
                        </a>
	                  </li>
	                </ul>
	              </li>

                </ul>
            </li>

            <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
            <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" [class.active]="isMenuActive('navItemMenu')">
                <a class="nav-link dropdown-toggle" [class.active]="isMenuActive('navItemMenu')" ngbDropdownToggle href="javascript:void(0);" id="entity-menu">
                    <span>
                        <i class="fa fa-th-list" aria-hidden="true"></i>
                        <span jhiTranslate="global.menu.entities.main">
                            Entities
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
<!--                     <li> -->
<!--                         <a class="dropdown-item" routerLink="leaves" [class.active]="isSectionActive('leaves')" (click)="collapseNavbar()"> -->
<!--                             <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i> -->
<!--                             <span jhiTranslate="global.menu.entities.leaves">Leaves</span> -->
<!--                         </a> -->
<!--                     </li> -->
<!--                     <li> -->
<!--                         <a class="dropdown-item" routerLink="account-details" [class.active]="isSectionActive('accountDetails')" (click)="collapseNavbar()"> -->
<!--                             <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i> -->
<!--                             <span jhiTranslate="global.menu.entities.accountDetails">Account Details</span> -->
<!--                         </a> -->
<!--                     </li> -->
<!--                     <li> -->
<!--                         <a class="dropdown-item" routerLink="activity" [class.active]="isSectionActive('activity')" (click)="collapseNavbar()"> -->
<!--                             <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i> -->
<!--                             <span jhiTranslate="global.menu.entities.activity">Activity</span> -->
<!--                         </a> -->
<!--                     </li> -->
<!--                     <li> -->
<!--                         <a class="dropdown-item" routerLink="activity-rejection" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()"> -->
<!--                             <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i> -->
<!--                             <span jhiTranslate="global.menu.entities.activityRejection">Activity Rejection</span> -->
<!--                         </a> -->
<!--                     </li> -->
<!--                     <li> -->
<!--                         <a class="dropdown-item" routerLink="activity-submission" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()"> -->
<!--                             <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i> -->
<!--                             <span jhiTranslate="global.menu.entities.activitySubmission">Activity Submission</span> -->
<!--                         </a> -->
<!--                     </li> -->
<!--                     <li> -->
<!--                         <a class="dropdown-item" routerLink="activity-validation" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()"> -->
<!--                             <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i> -->
<!--                             <span jhiTranslate="global.menu.entities.activityValidation">Activity Validation</span> -->
<!--                         </a> -->
<!--                     </li> -->
                    <li>
                        <a class="dropdown-item" routerLink="client" [class.active]="isSectionActive('client')" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.client">Client</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="currency" [class.active]="isSectionActive('currency')"(click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.currency">Currency</span>
                        </a>
                    </li>
<!--                     <li> -->
<!--                         <a class="dropdown-item" routerLink="invoice" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()"> -->
<!--                             <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i> -->
<!--                             <span jhiTranslate="global.menu.entities.invoice">Invoice</span> -->
<!--                         </a> -->
<!--                     </li> -->
<!--                     <li> -->
<!--                         <a class="dropdown-item" routerLink="invoice-rejection" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()"> -->
<!--                             <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i> -->
<!--                             <span jhiTranslate="global.menu.entities.invoiceRejection">Invoice Rejection</span> -->
<!--                         </a> -->
<!--                     </li> -->
<!--                     <li> -->
<!--                         <a class="dropdown-item" routerLink="invoice-submission" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()"> -->
<!--                             <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i> -->
<!--                             <span jhiTranslate="global.menu.entities.invoiceSubmission">Invoice Submission</span> -->
<!--                         </a> -->
<!--                     </li> -->
<!--                     <li> -->
<!--                         <a class="dropdown-item" routerLink="invoice-validation" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()"> -->
<!--                             <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i> -->
<!--                             <span jhiTranslate="global.menu.entities.invoiceValidation">Invoice Validation</span> -->
<!--                         </a> -->
<!--                     </li> -->
                    <li>
                        <a class="dropdown-item" routerLink="leave-config" [class.active]="isSectionActive('leaveConfig')" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.leaveConfig">Leave Config</span>
                        </a>
                    </li>
<!--                     <li> -->
<!--                         <a class="dropdown-item" routerLink="leaves-rejection" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()"> -->
<!--                             <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i> -->
<!--                             <span jhiTranslate="global.menu.entities.leavesRejection">Leaves Rejection</span> -->
<!--                         </a> -->
<!--                     </li> -->
<!--                     <li> -->
<!--                         <a class="dropdown-item" routerLink="leaves-submission" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()"> -->
<!--                             <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i> -->
<!--                             <span jhiTranslate="global.menu.entities.leavesSubmission">Leaves Submission</span> -->
<!--                         </a> -->
<!--                     </li> -->
<!--                     <li> -->
<!--                         <a class="dropdown-item" routerLink="leaves-validation" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()"> -->
<!--                             <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i> -->
<!--                             <span jhiTranslate="global.menu.entities.leavesValidation">Leaves Validation</span> -->
<!--                         </a> -->
<!--                     </li> -->
                    <li>
                        <a class="dropdown-item" routerLink="task" [class.active]="isSectionActive('task')" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.task">Task</span>
                        </a>
                    </li>
<!--                     <li> -->
<!--                         <a class="dropdown-item" routerLink="type-invoice" [class.active]="isSectionActive('typeInvoice')" (click)="collapseNavbar()"> -->
<!--                             <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i> -->
<!--                             <span jhiTranslate="global.menu.entities.typeInvoice">Type Invoice</span> -->
<!--                         </a> -->
<!--                     </li> -->
<!--                     <li> -->
<!--                         <a class="dropdown-item" routerLink="mission" [class.active]="isSectionActive('mission')" (click)="collapseNavbar()"> -->
<!--                             <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i> -->
<!--                             <span jhiTranslate="global.menu.entities.mission">Mission</span> -->
<!--                         </a> -->
<!--                     </li> -->
<!--                     <li> -->
<!--                         <a class="dropdown-item" routerLink="activity-config" [class.active]="isSectionActive('activityConfig')" (click)="collapseNavbar()"> -->
<!--                             <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i> -->
<!--                             <span jhiTranslate="global.menu.entities.activityConfig">Activity Config</span> -->
<!--                         </a> -->
<!--                     </li> -->
<!--                     <li> -->
<!--                         <a class="dropdown-item" routerLink="invoice-config" [class.active]="isSectionActive('invoiceConfig')" (click)="collapseNavbar()"> -->
<!--                             <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i> -->
<!--                             <span jhiTranslate="global.menu.entities.invoiceConfig">Invoice Config</span> -->
<!--                         </a> -->
<!--                     </li> -->
                    <li>
                        <a class="dropdown-item" routerLink="public-holiday" [class.active]="isSectionActive('publicHoliday')" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.publicHoliday">Public Holiday</span>
                        </a>
                    </li>
<!--                     <li> -->
<!--                         <a class="dropdown-item" routerLink="team" [class.active]="isSectionActive('team')" (click)="collapseNavbar()"> -->
<!--                             <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i> -->
<!--                             <span jhiTranslate="global.menu.entities.team">Team</span> -->
<!--                         </a> -->
<!--                     </li> -->
                    <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                </ul>
            </li>
            <li *jhiHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer" [class.active]="isMenuActive('navItemAdmin')">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu" [class.active]="isMenuActive('navItemAdmin')">
                    <span>
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                        <span jhiTranslate="global.menu.admin.main">Administration</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li>
                        <a class="dropdown-item" routerLink="user-management" [class.active]="isSectionActive('userManagement')" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-user" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.userManagement">User management</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="jhi-metrics" [class.active]="isSectionActive('jhiMetrics')"(click)="collapseNavbar()">
                            <i class="fa fa-fw fa-tachometer" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.metrics">Metrics</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="jhi-health" [class.active]="isSectionActive('jhiHealth')" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-heart" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.health">Health</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="jhi-configuration" [class.active]="isSectionActive('jhiConfiguration')" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-list" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.configuration">Configuration</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="audits" [class.active]="isSectionActive('audits')" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-bell" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.audits">Audits</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="logs" [class.active]="isSectionActive('logs')" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-tasks" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.logs">Logs</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="entity-audit" [class.active]="isSectionActive('entityAudit')"(click)="collapseNavbar()">
                            <i class="fa fa-fw fa-tasks" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.entity-audit">Entity Audit</span>
                        </a>
                    </li>
                    <li *ngIf="swaggerEnabled">
                        <a class="dropdown-item" routerLink="docs" [class.active]="isSectionActive('docs')" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-book" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.apidocs">API</span>
                        </a>
                    </li>
                    <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                </ul>
            </li>
            
            <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" placement="bottom-right" [class.active]="isMenuActive('navItemAccount')">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu" [class.active]="isMenuActive('navItemAccount')">
                  <span *ngIf="!getImageUrl()">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span jhiTranslate="global.menu.account.main">
                      Account
                    </span>
                  </span>
                  <span *ngIf="getImageUrl()">
                      <img [src]="getImageUrl()" class="profile-image img-circle" alt="Avatar">
                  </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li>
                        <a class="dropdown-item" routerLink="settings" [class.active]="isSectionActive('settings')" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-wrench" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.settings">Settings</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="password" [class.active]="isSectionActive('password')" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-clock-o" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.password">Password</span>
                        </a>
                    </li>
<!--                     <li *ngSwitchCase="true"> -->
<!--                         <a class="dropdown-item" (click)="logout()" id="logout"> -->
<!--                             <i class="fa fa-fw fa-sign-out" aria-hidden="true"></i> -->
<!--                             <span jhiTranslate="global.menu.account.logout">Sign out</span> -->
<!--                         </a> -->
<!--                     </li> -->
<!--                     <li *ngSwitchCase="false"> -->
<!--                         <a class="dropdown-item" (click)="login()" id="login"> -->
<!--                             <i class="fa fa-fw fa-sign-in" aria-hidden="true"></i> -->
<!--                             <span jhiTranslate="global.menu.account.login">Sign in</span> -->
<!--                         </a> -->
<!--                     </li> -->
<!--                     <li *ngSwitchCase="false"> -->
<!--                         <a class="dropdown-item" routerLink="register" routerLinkActive="active" (click)="collapseNavbar()"> -->
<!--                             <i class="fa fa-fw fa-user-plus" aria-hidden="true"></i> -->
<!--                             <span jhiTranslate="global.menu.account.register">Register</span> -->
<!--                         </a> -->
<!--                     </li> -->
                </ul>
            </li>
        </ul>
        <ul class="navbar-nav">
             <li ngbDropdown class="nav-item dropdown pointer" *ngIf="languages">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown" *ngIf="languages.length > 1">
                    <span>
                        <i class="fa fa-flag" aria-hidden="true"></i>
                        <span jhiTranslate="global.menu.language">Language</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu *ngIf="languages.length > 1">
                    <li *ngFor="let language of languages">
                        <a class="dropdown-item" [jhiActiveMenu]="language" href="javascript:void(0);" (click)="changeLanguage(language);collapseNavbar();">{{language | findLanguageFromKey}}</a>
                    </li>
        		</ul>
            </li>
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngSwitchCase="true">
                <a class="nav-link" (click)="logout()" id="logout">
                      <i class="fa fa-fw fa-sign-out" aria-hidden="true"></i>
                      <span jhiTranslate="global.menu.account.logout">Sign out</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngSwitchCase="false">
                <a class="nav-link" (click)="login()" id="login">
                      <i class="fa fa-fw fa-sign-in" aria-hidden="true"></i>
                      <span jhiTranslate="global.menu.account.login">Sign in</span>
                </a>
            </li>       
        </ul>
    </div>
  </div>
</nav>
