
<div *ngIf="invoiceRejection">
    <h2><span jhiTranslate="shineWebAppFrontendApp.invoiceRejection.detail.title">Invoice Rejection</span> {{invoiceRejection.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="shineWebAppFrontendApp.invoiceRejection.rejected">Rejected</span></dt>
        <dd>
            <span>{{invoiceRejection.rejected}}</span>
        </dd>
        <dt><span jhiTranslate="shineWebAppFrontendApp.invoiceRejection.dateCreation">Date Creation</span></dt>
        <dd>
            <span>{{invoiceRejection.dateCreation | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="shineWebAppFrontendApp.invoiceRejection.dateModification">Date Modification</span></dt>
        <dd>
            <span>{{invoiceRejection.dateModification | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="shineWebAppFrontendApp.invoiceRejection.userCreation">User Creation</span></dt>
        <dd>
            {{invoiceRejection.userCreationLogin}}
        </dd>
        <dt><span jhiTranslate="shineWebAppFrontendApp.invoiceRejection.userModification">User Modification</span></dt>
        <dd>
            {{invoiceRejection.userModificationLogin}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'invoice-rejection/'+ invoiceRejection.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
