<div class="modal-header">
 	<div class="imgResource"></div>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
</div>
<div class="modal-body text-left">
    <p><span jhiTranslate="home.popup.resource.text1">We assist you to succeed your projects with our expertise in development, testing, support and project management.</span><br>
       <span jhiTranslate="home.popup.resource.text2">We provide you with resources that best fit your project requirements.</span><br>
       <span jhiTranslate="home.popup.resource.text3">Our resources are well-formed, competent, very dedicated and have the following skills and technical expertise.</span></p><br>
    <h4 class="main-color"><span jhiTranslate="home.popup.resource.skills.title">Skills</span></h4>
    <ul class="fa-ul">
        <li><i class="fa-li fa fa-flag"></i><span jhiTranslate="home.popup.resource.skills.textBullet.communication">Good Communication and bilingual english/french</span></li>
        <li><i class="fa-li fa fa-flag"></i><span jhiTranslate="home.popup.resource.skills.textBullet.technical">Technically good</span></li>
        <li><i class="fa-li fa fa-flag"></i><span jhiTranslate="home.popup.resource.skills.textBullet.creative">Creative and innovative</span></li>
        <li><i class="fa-li fa fa-flag"></i><span jhiTranslate="home.popup.resource.skills.textBullet.adaptable">Adaptable</span></li>
        <li><i class="fa-li fa fa-flag"></i><span jhiTranslate="home.popup.resource.skills.textBullet.technology">At the cutting edge of technology</span></li>
        <li><i class="fa-li fa fa-flag"></i><span jhiTranslate="home.popup.resource.skills.textBullet.management">Project Management</span></li>
    </ul>
    <h4 class="main-color"><span jhiTranslate="home.popup.resource.technicalExpertise.title">Technical expertise</span></h4>
    <ul class="fa-ul">
        <li><i class="fa-li fa fa-cog"></i><span jhiTranslate="home.popup.resource.technicalExpertise.textBullet.java">Java/J2ee</span></li>
        <li><i class="fa-li fa fa-cog"></i><span jhiTranslate="home.popup.resource.technicalExpertise.textBullet.php">Php</span></li>
        <li><i class="fa-li fa fa-cog"></i><span jhiTranslate="home.popup.resource.technicalExpertise.textBullet.oracle">Oracle SQL and PL/SQL</span></li>
        <li><i class="fa-li fa fa-cog"></i><span jhiTranslate="home.popup.resource.technicalExpertise.textBullet.mysql">MySQL</span></li>
        <li><i class="fa-li fa fa-cog"></i><span jhiTranslate="home.popup.resource.technicalExpertise.textBullet.frontend">Frontend HTML5, CSS3 and Javascript/Typescript including frameworks Angular and Jquery</span></li>
        <li><i class="fa-li fa fa-cog"></i><span jhiTranslate="home.popup.resource.technicalExpertise.textBullet.unix">Unix</span></li>
        <li><i class="fa-li fa fa-cog"></i><span jhiTranslate="home.popup.resource.technicalExpertise.textBullet.qualityControl">Hudson and Jenkins</span></li>
        <li><i class="fa-li fa fa-cog"></i><span jhiTranslate="home.popup.resource.technicalExpertise.textBullet.repositories">SVN and GIT</span></li>
    </ul>
</div>
