@import '../../../../content/scss/shine';

.imgResource {
    background: url("../../../../content/images/outsourcing.png") no-repeat center top;
    background-size: 100% 100%;
	@include full-page-background-image;
	height: 300px;
  	//opacity: 0.8;
	//filter: alpha(opacity=80); /* For IE8 and earlier */	
}

.modal-header {
	height: 300px;
}

.modal-body {
    background-color: $shine-light-blue;
}

h4 {
  	font-weight: 700;
  	margin-bottom: 15px;
  	font-size: 18px;
}

ul li span, p {
	font-size: 14px;
	line-height: 28px;
	margin-bottom: 0;
}
