<div>
    <h2>
        <span jhiTranslate="shineWebAppFrontendApp.leavesTeam.home.title">Leaves</span> 
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
 	<br/>
	<div class="table-responsive" *ngIf="leaves">
        <table class="table table-striped">
            <thead>
            <tr>
           	<th><span jhiTranslate="shineWebAppFrontendApp.leavesCommon.user">User</span></th>
            <th class="side-border text-center"><span jhiTranslate="shineWebAppFrontendApp.leavesTeam.totalAnnualLeaves">Total annual leaves</span></th>
            <th class="text-center"><span jhiTranslate="shineWebAppFrontendApp.leavesTeam.remainingAnnualLeaves">Remaining annual leaves</span></th>
            <th class="side-border text-center"><span jhiTranslate="shineWebAppFrontendApp.leavesTeam.totalSickLeaves">Total sick leaves</span></th>
            <th class="text-center"><span jhiTranslate="shineWebAppFrontendApp.leavesTeam.remainingSickLeaves">Remaining sick leaves</span></th>
            <th class="side-border text-center"><span jhiTranslate="shineWebAppFrontendApp.leavesTeam.totalSpecialLeaves">Total special leaves</span></th>
            <th class="text-center"><span jhiTranslate="shineWebAppFrontendApp.leavesTeam.remainingSpecialLeaves">Remaining special leaves</span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let leavesDetails of leavesDetails ;trackBy: trackId">                
                <td><button type="button" class="btn btn-link" (click)="selectUser(leavesDetails.userId, leavesDetails.userLogin)">
                       {{leavesDetails.userLogin}}
                    </button></td>
                <td class="side-border text-center"><span class="badge badge-primary badge-pill">{{leavesDetails.totalAnnualLeaves}}</span></td>
                <td class="text-center"><span class="badge badge-warning badge-pill">{{leavesDetails.remainingAnnualLeaves}}</span></td>
                <td class="side-border text-center"><span class="badge badge-primary badge-pill">{{leavesDetails.totalSickLeaves}}</span></td>
                <td class="text-center"><span class="badge badge-warning badge-pill">{{leavesDetails.remainingSickLeaves}}</span></td>                
                <td class="side-border text-center"><span class="badge badge-primary badge-pill">{{leavesDetails.totalSpecialLeaves}}</span></td>
                <td class="text-center"><span class="badge badge-warning badge-pill">{{leavesDetails.remainingSpecialLeaves}}</span></td>               
            </tr>
            </tbody>
        </table>
    </div>
	<br/>
	<div>
		<div class="card">
			<div class="card-header">
				<a class="card-link" (click)="toggleSearchCriterias()"> <span> <i
						[ngClass]="{true:'fa fa-chevron-up', false:'fa fa-chevron-down'}[opened]"
						aria-hidden="true"></i> <span
						jhiTranslate="shineWebAppFrontendApp.common.searchCriterias">Search
							criterias</span>
				</span>
				</a>
			</div>
			<div [ngClass]="{hideSearch: !opened}">
				<div class="card-body">
					<div class="form-row">
						<div class="form-group col-md-2">
							<label class="form-control-label"
								jhiTranslate="shineWebAppFrontendApp.leavesCommon.user"
								for="field_user">User</label> 
						    <select class="form-control" id="field_user" name="user" 
						    	[(ngModel)]="userSelectedId" (change)="onChangeUserSelect($event)">
								<option [ngValue]="null" selected></option>
                				<option [ngValue]="leavesDetails.userId" *ngFor="let leavesDetails of leavesDetails; trackBy: trackUserByUserLogin">{{leavesDetails.userLogin}}</option>
							</select>
						</div>
						<div class="form-group col-md-2">
							<label class="form-control-label"
								jhiTranslate="shineWebAppFrontendApp.leavesCommon.task"
								for="field_task">Task</label> 
						    <select class="form-control"
								id="field_task" name="task" [(ngModel)]="taskId">
								<option [ngValue]="null" selected></option>
								<ng-container *ngIf="language === 'en'">
								<option [ngValue]="taskOption.id"
									*ngFor="let taskOption of (tasks | pureFilter:filter:'labelEn' | orderBy:orderTask:reverse); trackBy: trackTaskById">{{taskOption.labelEn}}</option>
								</ng-container>
								<ng-container *ngIf="language === 'fr'">
								<option [ngValue]="taskOption.id"
									*ngFor="let taskOption of (tasks | pureFilter:filter:'labelFr' | orderBy:orderTask:reverse); trackBy: trackTaskById">{{taskOption.labelFr}}</option>
								</ng-container>
							</select>
						</div>
						<div class="form-group col-md-2">
							<label class="form-control-label"
								jhiTranslate="shineWebAppFrontendApp.leavesCommon.month"
								for="field_task">Month</label> 
						    <select class="form-control"
								id="field_month" name="month" [(ngModel)]="currentMonth">
								<option [ngValue]="null" selected></option>
								<option [ngValue]="monthOption.id"
									*ngFor="let monthOption of months trackBy: id">{{monthOption.name}}</option>
							</select>
						</div>
						<div class="form-group col-md-2">
							<label class="form-control-label"
								jhiTranslate="shineWebAppFrontendApp.leavesCommon.year"
								for="field_task">Year</label> 
						    <select class="form-control"
								id="field_year" name="year" ng-init="currentYear"
								[(ngModel)]="currentYear">
								<option [ngValue]="yearOption.id"
									*ngFor="let yearOption of years; trackBy: id">{{yearOption.name}}</option>
							</select>
						</div>
						<div class="form-group col-md-2">
							<label class="form-control-label"
								jhiTranslate="shineWebAppFrontendApp.leavesCommon.validated"
								for="field_validated">Validated</label>
							<select class="form-control" id="field_validated" name="validated"
								[(ngModel)]="leaveValidated">
								<option [ngValue]="null" selected></option>
								<option [ngValue]="false">false</option>
								<option [ngValue]="true">true</option>								
							</select>
						</div>						
					</div>
					<div class="form-row">
						<button type="submit" (click)="submitFilter()"
							class="btn btn-primary btn-sm">
							<span class="fa fa-search"></span> <span
								class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br/>
	<h4>
        <span jhiTranslate="shineWebAppFrontendApp.leavesTeam.listLeaves.title">Leaves submitted</span> 
    </h4>
	<br/> 
	<div *ngIf="userSelectedLogin">
		<h6>
	        <span jhiTranslate="shineWebAppFrontendApp.leavesTeam.listLeaves.userSelected">User selected</span>: <span>{{userSelectedLogin}}</span>   
	    </h6>
    </div>
	<div class="table-responsive" *ngIf="leaves">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
           	<th jhiSortBy="fullDay"><span jhiTranslate="shineWebAppFrontendApp.leavesCommon.fullDay">Full Day</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="leavesFrom"><span jhiTranslate="shineWebAppFrontendApp.leavesCommon.leavesFrom">Leaves From</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="leavesTo"><span jhiTranslate="shineWebAppFrontendApp.leavesCommon.leavesTo">Leaves To</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nbOfHours"><span jhiTranslate="shineWebAppFrontendApp.leavesCommon.nbOfHours">Nb Of Hours</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="comment"><span jhiTranslate="shineWebAppFrontendApp.leavesCommon.comment">Comment</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="taskCode"><span jhiTranslate="shineWebAppFrontendApp.leavesCommon.task">Task</span> <span class="fa fa-sort"></span></th>    
            <th><span jhiTranslate="shineWebAppFrontendApp.leavesCommon.validated">Validated</span></th>
            <th><span jhiTranslate="shineWebAppFrontendApp.leavesCommon.rejected">Rejected</span></th>   
			<th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let leaves of leaves ;trackBy: trackId">
                <td>	         
                	<span>
               	 		<i [ngClass]="{true:'fa fa-star', false:'fa fa-star-o'}[leaves.fullDay]" aria-hidden="true"></i>
              		</span>
              	</td>
                <td>{{leaves.leavesFrom | date:'mediumDate'}}</td>
                <td>{{leaves.leavesTo | date:'mediumDate'}}</td>
                <td>{{leaves.nbOfHours}}</td>
                <td>{{leaves.comment}}</td>
                <td>{{leaves.taskCode}}</td>
                <td>	         
                	<span [ngClass]="{'true':'text-success'}[leaves.leavesValidationValidated]">
               	 		<i [ngClass]="{'true':'fa fa-check icon-green'}[leaves.leavesValidationValidated]" aria-hidden="true"></i>
              		</span>
              	</td>
                <td>	         
                	<span [ngClass]="{'true':'text-danger'}[leaves.leavesRejectionRejected]">
               	 		<i [ngClass]="{'true':'fa fa-check icon-red'}[leaves.leavesRejectionRejected]" aria-hidden="true"></i>
              		</span>
              	</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'leaves-module/'+ leaves.id + '/validate'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm"
                                *ngIf="leaves.leavesValidationValidated!=='true'">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="shineWebAppFrontendApp.leavesCommon.validate">Validate</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'leaves-module/'+ leaves.id + '/reject'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm"
                                *ngIf="leaves.leavesValidationValidated!=='true'">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="shineWebAppFrontendApp.leavesCommon.reject">Reject</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="leaves && leaves.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
