<div id="home" class="container-section" #home>
	<div class="row">
		<img class="imgTechnology">
		<div class="intro-text">
			<div class="intro-heading text-uppercase">
				<span jhiTranslate="home.main.subtitle">Our solutions are tailor-made, flexible and innovative</span>
			</div>
		</div>
		<div class="center-bottom">
			<a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger"
				routerLink="/" fragment="services"><span jhiTranslate="home.main.checkServices">Check our services</span></a>
		</div>
		<div class="scroll-center-right">
			<div class="wrapper">
				<div class="wrapper-inner">
					<a routerLink="/" fragment="services"><span class="scroll-title text-uppercase" jhiTranslate="home.scroll">Scroll</span></a>
					<div class="scroll-down">
						<span class="arrow-down"> <!-- css generated icon -->
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="services" class="container-section" #services>
	<div class="row position-relative">
		<div class="seperator-services">
		</div>
	</div>
	<div class="container title-padding">
		<div class="row pb-3">
			<div class="col-lg-12 text-center">
				<h2 class="element-color-shine-secondary"><span jhiTranslate="home.services.title">At Your Service</span></h2>
				<hr class="my-2">
			</div>
		</div>
	</div>
	<div class="scroll-center-right">
		<div class="wrapper">
			<div class="wrapper-inner">
				<a routerLink="/" fragment="values"><span class="scroll-title text-uppercase" jhiTranslate="home.scroll">Scroll</span></a>
				<div class="scroll-down">
					<span class="arrow-down"> <!-- css generated icon -->
					</span>
				</div>
			</div>
		</div>
	</div>
	<!-- Page Content -->
	<div class="row">
		<div class="container">
			<div class="container-fluid custom_width">
				<div class="row text-center pt-4 pb-4">
					<div class="col-md-12 col-sm-12">
						<h3><span jhiTranslate="home.services.subtitle">Let us design the best possible solutions for you</span></h3>
					</div>
				</div>
				<div class="row text-center pt-3 pb-3">
					<div class="col-md-4">
						<span class="fa-stack fa-4x"> <i
							class="fa fa-circle fa-stack-2x element-color-shine-main "></i> <i
							class="fa fa-mixcloud fa-stack-1x fa-inverse"></i>
						</span>
						<h4><span jhiTranslate="home.services.webSite.title">Web site</span>
						</h4>
						<p class="text-muted">
							<span jhiTranslate="home.services.webSite.text">
								We can help you build your web site using the latest technologies. The solutions will be flexible and responsive at a
								competitive price.
							</span>
						</p>
					</div>
					<div class="col-md-4">
						<span class="fa-stack fa-4x"> <i
							class="fa fa-circle fa-stack-2x element-color-shine-main "></i> <i
							class="fa fa-laptop fa-stack-1x fa-inverse"></i>
						</span>
						<h4><span jhiTranslate="home.services.webApplications.title">Web applications</span></h4>
						<p class="text-muted">
							<span jhiTranslate="home.services.webApplications.text">
								We can build solutions for you adapted to your business. 
								Our leitmotiv is quality, automation, modularity, innovation and respect of the deadlines
							</span>
						</p>
					</div>
					<div class="col-md-4">
						<span class="fa-stack fa-4x"> <i
							class="fa fa-circle fa-stack-2x element-color-shine-main "></i> <i
							class="fa fa-group fa-stack-1x fa-inverse"></i>
						</span>
						<h4><span jhiTranslate="home.services.resources.title">Resources Outsourcing</span></h4>
						<p class="text-muted">
							<span jhiTranslate="home.services.resources.text">
								Our resources are bilingual (english and french), competent and very dedicated. 
								We also favor a close follow up of the activities by the most experiences members.
							</span>						
						</p>
					</div>
				</div>
				<div class="row text-center pt-5 pb-5">
					<div class="col-md-12 col-sm-12">
						<a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger"
							routerLink="/" fragment="values"><span jhiTranslate="home.services.tellMore">Tell me more</span></a>

					</div>
				</div>
<!-- 				<div class="row text-center pt-5 pb-5"> -->
<!-- 					<div class="col-md-3 col-sm-3"> -->
<!-- 						<img [src]="imgAws" class="img-full"> -->
<!-- 					</div> -->
<!-- 					<div class="col-md-3 col-sm-3"> -->
<!-- 						<img [src]="imgWeb" class="img-full"> -->
<!-- 					</div> -->
<!-- 					<div class="col-md-3 col-sm-3"> -->
<!-- 						<img [src]="imgCloud" class="img-full"> -->
<!-- 					</div> -->
<!-- 					<div class="col-md-3 col-sm-3"> -->
<!-- 						<img [src]="imgOracle" class="img-full"> -->
<!-- 					</div> -->
<!-- 				</div> -->
			</div>
		</div>
	</div>
</div>

<div id="values" class="container-section" #values>
	<div class="row position-relative">
		<div class="seperator-values">
		</div>
	</div>
	<div class="container title-padding">
		<div class="row pb-3">
			<div class="col-lg-12 text-center">
				<h2 class="element-color-shine-secondary"><span jhiTranslate="home.values.title">Our values</span></h2>
				<hr class="my-2">
			</div>
		</div>
	</div>

	<div class="row justify-content-center pt-5">
		<div class="carousel-wrapper">
			<div class="scroll-center-right-values">
				<div class="wrapper">
					<div class="wrapper-inner">
						<a routerLink="/" fragment="contact"><span class="scroll-title text-uppercase" jhiTranslate="home.scroll">Scroll</span></a>
						<div class="scroll-down">
							<span class="arrow-down"> <!-- css generated icon -->
							</span>
						</div>
					</div>
				</div>
			</div>
			<ngb-carousel> 
				<ng-template ngbSlide>
					<img class="imgCreativity fill-carousel">
					<div class="carousel-caption d-md-block">
						<div class="row text-center pt-3 pb-3">
							<div class="col-md-12 col-sm-12">
								<a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger"
									routerLink="/" fragment="contact"><span jhiTranslate="home.values.contactUs">Contact us</span></a>
							</div>
						</div>
						<div class="row text-center pt-3">
							<div class="col-md-12 col-sm-12">
								<h3 class="element-color-white"><span jhiTranslate="home.values.creativity">Creativity</span></h3>
							</div>
						</div>
					</div>
				</ng-template> 
				<ng-template ngbSlide>
					<img class="imgAutomation fill-carousel">
					<div class="carousel-caption d-md-block">
						<div class="row text-center pt-3 pb-3">
							<div class="col-md-12 col-sm-12">
								<a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger"
									routerLink="/" fragment="contact"><span jhiTranslate="home.values.contactUs">Contact us</span></a>
							</div>
						</div>
						<div class="row text-center pt-3">
							<div class="col-md-12 col-sm-12">
								<h3 class="element-color-white"><span jhiTranslate="home.values.efficiency.title">Efficiency</span></h3>
								<h6 class="element-color-white"><span jhiTranslate="home.values.efficiency.subtitle">Automation, flexible solutions and modularity</span></h6>								
							</div>
						</div>
					</div>
				</ng-template> 
				<ng-template ngbSlide> 
					<img class="imgCustomerEngagement fill-carousel">
					<div class="carousel-caption d-md-block">
						<div class="row text-center pt-3 pb-3">
							<div class="col-md-12 col-sm-12">
								<a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger"
									routerLink="/" fragment="contact"><span jhiTranslate="home.values.contactUs">Contact us</span></a>
							</div>
						</div>
						<div class="row text-center pt-3">
							<div class="col-md-12 col-sm-12">
								<h3 class="element-color-white"><span jhiTranslate="home.values.customerCommitment">Customer Commitment</span></h3>
							</div>
						</div>
					</div>
				</ng-template> 
				<ng-template ngbSlide> 
					<img class="imgPeople fill-carousel">
					<div class="carousel-caption d-md-block">
						<div class="row text-center pt-3 pb-3">
							<div class="col-md-12 col-sm-12">
								<a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger"
									routerLink="/" fragment="contact"><span jhiTranslate="home.values.contactUs">Contact us</span></a>
							</div>
						</div>
						<div class="row text-center pt-3">
							<div class="col-md-12 col-sm-12">
								<h3 class="element-color-white"><span jhiTranslate="home.values.respect">Respect for People</span></h3>
							</div>
						</div>
					</div>
				</ng-template> 
			</ngb-carousel>
		</div>
	</div>
</div>

<div id="contact" class="container-section" #contact>
	<div class="row position-relative">
		<div class="seperator-contact">
		</div>
	</div>
    <div class="container title-padding">
        <div class="row pb-3">
          <div class="col-lg-12 text-center">
            <h2 class="element-color-shine-secondary"><span jhiTranslate="home.contact.title">Contact us</span></h2>
            <hr class="my-2">
          </div>
        </div>
	</div>
	<div class="row pt-5">
		<div class="container">
			<div class="row pt-3">
				<div class="col-12">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d935.7189625047101!2d57.47557862923667!3d-20.263982999151096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x217c5be76002547b%3A0x1aa0bd8c9fa309f7!2sShine+Consulting+Ltd!5e0!3m2!1sfr!2smu!4v1535627470761" 
					width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
			</div>
			<br>
			<div class="row text-center">
				<div class="col-lg-4 box1 pt-4">
					<a href="tel:+230 58273806"><span><i
							class="fa fa-phone fa-3x" style="color:black"></i>
							<h5 style="color:black"><span jhiTranslate="home.contact.phone">Phone</span></h5>
							<p class="text-shine-gray">+230 58273806</p></span></a>
				</div>
				<div class="col-lg-4 box2 pt-4">
					<span><i class="fa fa-home fa-3x" style="color:black"></i>
						<h5 style="color:black"><span jhiTranslate="home.contact.address">Address</span></h5>
						<p class="text-muted">Office no 6, Kensington Palms
						<br>Sir Guy Forget Ave, Quatre Bornes
						<br>Mauritius
						</p>
					</span>
				</div>
				<div class="col-lg-4 box3 pt-4">
					<a href="mailto:shinecsl@shinecsl.com">
						<span><i class="fa fa-envelope fa-3x" style="color:black"></i>
							<h5 style="color:black"><span jhiTranslate="home.contact.email">E-mail</span></h5>
							<p class="text-shine-gray">shinecsl@shinecsl.com</p>
						</span>
					</a>
				</div>
			</div>
			<br>
		</div>
	</div>
</div>
<!-- <particles [style]="style" [width]="width" [height]="height" [params]="params"></particles> -->
