@import '../../content/scss/shine';

/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../../content/images/hipster.png") no-repeat center top;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../../content/images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}

a.divLink {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    /* Makes sure the link doesn't get underlined */
    z-index: 10;
    /*workaround to make clickable in IE */
    opacity: 0;
    /*workaround to make clickable in IE */
    filter: alpha(opacity=0);
    /*workaround to make clickable in IE */
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

/* Sections Header
--------------------------------*/

.container-section {
	width: 100%;
	height: 100%;
	position: relative;
	//min-height: 100vh;
    //min-height: calc(100vh - var(--vh-offset, 0px));
    //padding: 80px 0 0 0;
	.title-padding {
		padding-top: 100px;
	}
}
 
.full-page-height-row-contact {
  min-height: 85vh;
  height: 100%;
  
}

.section-header h3 {
  font-size: 36px;
  color: $shine-main;
  text-align: center;
  font-weight: 700;
  position: relative;
  font-family: "Montserrat", sans-serif;
}

.section-header p {
  text-align: center;
  margin: auto;
  padding-bottom: 60px;
  color: $shine-blue-gray-p;
  width: 50%;
}

/* Section with background
--------------------------------*/

.section-bg {
  background: $shine-light-blue;
}

/* Home Section
--------------------------------*/

.imgTechnology {
    @media screen and (max-width: $screen-sm) {
    	background: url("../../content/images/intro-bg-test.png") no-repeat center top;
		@include img-parallax;	
	}
	@media screen and (min-width: $screen-sm) and (max-width: $screen-md) {
    	background: url("../../content/images/intro-bg-test.png") no-repeat center top;
		@include img-parallax;
	}
	@media screen and (min-width: $screen-md) {
    	background: url("../../content/images/intro-bg-test.png") no-repeat center top; 
		@include img-parallax;
	}
    //width: 100%;
  	height: 100vh;
  	height: calc(100vh - var(--vh-offset, 0px));
    @include full-page-background-image;    
}

.intro {
	width: 100%;
	height: 100vh;
	position: relative;
	//background: $shine-light-blue url("../../content/images/intro-bg.jpg") center top no-repeat;
	//background-size: cover;	

	@media (max-height: 740px) {
		.intro-height-large {
			display: none;
		}
		
		.intro-height-medium {
			display: flex;
		}
	}	
	
	@media (min-height: $screen-sm) {
		.intro-height-medium {
			display: none;
		}
		.intro-height-large {
			display: flex;
		}
	}	
	
	.intro-info {
		padding-top: 5%;

		@media (max-height: 400px) {
			padding-top: 0;
		}
				
		@media (min-height: $screen-sm) {
			padding-top: 2%;
		}
		
		@media (min-height: $screen-lg) {
			padding-top: 8%;
		}
		
		& h1 {
			color: $shine-main;
			margin-bottom: 4%;
			@media (max-width: $screen-xs) {
				margin-bottom: 8%;
			}
			@media (min-height: $screen-md) {
				padding-top: 6%;
			}
			font-weight: 700;
		}
		
		@media (max-width: $screen-sm - 1px) {
			padding-top: 40%;

			@media (max-height: $screen-xs) {
				padding-top: 0;
			}			
								
		    .container {
		    	height: auto !important;
		    }
		    	    
			.center {
			  	text-align: center;
			}
		
		    & h1 {
				text-align: center;
			}
		}
		
	    @media (min-height: $screen-sm) {
		    .container {
		    	height: auto !important;
		    }
		    	    
			.center {
			  	text-align: center;
			}
		
		    & h1 {
				text-align: center;
			}
		}
		
		.btn-get-started, .btn-services {
			font-family: "Montserrat", sans-serif;
			font-size: 13px;
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: 1px;
			display: inline-block;
			padding: 10px 32px;
			border-radius: 4px;
			transition: 0.5s;
			color: $white;
			background: $shine-secondary;
			color: $white;
			
			&:hover{
				background: $shine-dark-blue;
			}
		}

		@media (max-width: $screen-sm) {
		    .btn-get-started, .btn-services {
				font-size: 13px;
			}
		}
		
		@media (max-width: $screen-xs) {
		    .btn-get-started, .btn-services {
				font-size: 11px;
			}
		}
	}
	
	.intro-img {
		padding-top: 5%;

		@media (max-height: 400px) {
			padding-top: 0;
		}
		
		@media (min-height: $screen-md) {
			padding-top: 10%;
		}
				
		@media screen and (min-width: $screen-sm) {
			width: 80%;
			min-height: 75vh;
		}
	}	
}

.btn-intro {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  transition: 0.5s;
  color: $white;
  background: $shine-secondary;
  color: $white;
  
  &:hover {
  	background: $shine-dark-blue;  
  }
}

.imgIntro {
	@media screen and (min-width: $screen-sm) and (max-width: $screen-md) {
    	background: url("../../content/images/home-page-web.png") no-repeat center top;
		@include img-cover-full-size;
	}
	@media screen and (min-width: $screen-md) {
    	background: url("../../content/images/home-page-web.png") no-repeat center top;
		@include img-cover-full-size;
	}
}

/* About Us Section
--------------------------------*/
.about {
  	//padding: 40px 0;
	.about-content {
		@media (min-width: $screen-md) {
			padding-top: 40px;
		}
		
	  	& h2 {
			color: $shine-main;
			font-family: "Montserrat", sans-serif;
			font-weight: 700;
		}

		@media (max-width: $screen-md - 1px) {
		    & h2 {
				text-align: center;
			}
		}
		
		& h3 {
			color: #696592;
			font-weight: 400;
			font-style: italic;
		}  
				
		& ul {
			list-style: none;
			padding: 0;
			& li {
  				padding-bottom: 10px;
  				& i {
				    font-size: 20px;
				  	padding-right: 4px;
				  	color: $shine-secondary;
				  	vertical-align: middle;
				}
				
				@media (max-width: $screen-sm) {
				    & i {
						font-size: 14px;
					}
				}
				
				@media (max-width: $screen-xs) {
				    & i {
						font-size: 13px;
					}
				}
				
			  	& span {
			  		vertical-align: middle;
				}

				@media (max-width: $screen-sm) {
				  	& span {
				  		font-size: 14px;
					}
				}
				
				@media (max-width: $screen-xs) {
				  	& span {
				  		font-size: 13px;
					}
				}
			}
		}
	}

	@media (min-width: $screen-md) {
		.about-img-padding {
			padding-bottom: 40px;
		}		
	}

	.about-img {
		position: relative;
		margin: 30px 30px 30px 30px;
		height: 100%;
		& img {
		  height: 100%;
		  width: 100%;
		  border: 8px solid $white;
		  transition: .5s;
		  &:hover {
			  width: 100%;
			  -webkit-transform: scale(1.03);
			  transform: scale(1.03);
			}
		}	
		&:before {
		  position: absolute;
		  left: -31px;
		  top: -30px;
		  width: 90%;
		  height: 92%;
		  z-index: -1;
		  content: '';
		  background-color: #ebf1fa;
		  transition: .5s;
		}
		&:after {
		  position: absolute;
		  right: -31px;
		  bottom: -30px;
		  width: 90%;
		  height: 92%;
		  z-index: -1;
		  content: '';
		  background-color: #ebf1fa;
		  transition: .5s;
		}
	}

	@media (max-width: $screen-md - 1px) {
		.about-img {
			display: none;
		}
	}
}

.img-about-us {
    @media screen and (max-width: $screen-xs) {
    	background: url("../../content/images/about-img.jpg") no-repeat center top;
    	background-size: 100% 100%;
	}
	@media screen and (min-width: $screen-xs) and (max-width: $screen-md) {
    	background: url("../../content/images/about-img.jpg") no-repeat center top;
    	background-size: 100% 100%;
	}
	@media screen and (min-width: $screen-md) {
    	background: url("../../content/images/about-img.jpg") no-repeat center top;
    	background-size: 100% 100%;
	}
}


/* Services Section
--------------------------------*/

.services {
    padding: 40px 0 0 0;

    & h2 {
		text-align: center;
	}  
	
	.box {
	  	padding: 30px;
	  	position: relative;
	  	overflow: hidden;
	  	border-radius: 10px;
	  	margin: 0 10px 40px 10px;
	  	background: $white;
	  	box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
	  	transition: all 0.3s ease-in-out;
	  	text-align: center;
		height: 90%;
	  	&:hover {
		  	-webkit-transform: scale(1.1);
		  	transform: scale(1.1);
		  	.title a {
			  	color: $shine-secondary;
			}
		}
	}
	.icon {
	  	margin: 0 auto 15px auto;
	  	padding-top: 12px;
	  	display: inline-block;
	  	text-align: center;
	  	border-radius: 50%;
	  	width: 60px;
	  	height: 60px;
		@media (max-width: $screen-sm) {
		  	width: 52px;
		  	height: 52px;
		}
		@media (max-width: $screen-xs) {
		  	width: 48px;
		  	height: 48px;
		}
	  	& i {
		  	font-size: 36px;
			@media (max-width: $screen-sm) {
		  		font-size: 30px;
			}
			@media (max-width: $screen-xs) {
		  		font-size: 24px;
			}
		  	line-height: 1;
		}
	}
	.title {
	  	font-weight: 700;
	  	margin-bottom: 15px;
	  	font-size: 18px;
		@media (max-width: $screen-xs) {
	  		font-size: 14px;
		}
	  	&  a {
		  	color: #111;
		}
	}
	.description {
		font-size: 14px;
		@media (max-width: $screen-xs) {
	  		font-size: 13px;
		}
		line-height: 28px;
		margin-bottom: 0;
		text-align: left;
	}
}


/* Why Us Section
--------------------------------*/

.why-us {
  	padding: 60px 0;
	width: 100%;
	background: white;

	.why-us-content {
		.features {
			margin: 0 0 15px 0;
			padding: 0;
			transition: 0.3s ease-in-out;
			& i {
			  	font-size: 36px;
				@media (max-width: $screen-xs) {
			  		font-size: 30px;
				}
			  	float: left;
			}
			& h4 {
			  	font-size: 24px;
				@media (max-width: $screen-xs) {
			  		font-size: 20px;
				}			  	
			  	font-weight: 600;
			  	margin-left: 56px;
			  	color: $shine-main;
			  	margin-bottom: 5px;
			}
			& p {
			  	margin-left: 56px;
			  	color: $shine-blue-gray;
			}
		}
	}
	.counters {
	  	padding-top: 40px;
		@media (max-height: 800px) {
	  		padding-top: 0px;
		}
	  	& span {
		  	font-family: "Montserrat", sans-serif;
		  	font-weight: bold;
		  	font-size: 48px;
		  	display: block;
		  	color: $shine-blue-gray;		  	
			@media (max-width: $screen-sm) {
			  	font-size: 40px;
			}
			@media (max-width: $screen-xs) {
			  	font-size: 30px;
			}
		}
		& p {
		  	padding: 0;
		  	margin: 0 0 20px 0;
		  	font-family: "Montserrat", sans-serif;
		  	color: $shine-light-gray;
		}
	}
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

.contact {
	background: $white;
	//padding: 40px 0 0 0;

	& h4 {
	 	font-size: 14px;
	  	@media (max-width: $screen-xs) {
  			font-size: 13px;
		}
	  	font-weight: bold;
	  	color: $shine-main;
	  	text-transform: uppercase;
	  	position: relative;
		@media (min-width: $screen-xs) {
	  		padding-bottom: 10px;
		}	
	}  
	
	.contact-info {
		margin-bottom: 30px;	  
	 	& h2 {
		  margin: 0 0 20px 0;
		  padding: 2px 0 2px 0;
		  line-height: 1;
		  font-family: "Montserrat", sans-serif;
		  color: $shine-main;
		  font-weight: 400;
		  letter-spacing: 3px;
		  text-transform: uppercase;
		}
		& p {
		  line-height: 24px;
		  margin-bottom: 0;
		  font-family: "Montserrat", sans-serif;
		  color: $shine-blue-gray-p;
		}
	}
	
	.social-links {
		& a {
			font-size: 18px;
			display: inline-block;
			background: $shine-secondary;
			color: $white;
			line-height: 1;
			padding: 8px 0;
			margin-right: 4px;
			border-radius: 50%;
			text-align: center;
			width: 36px;
			height: 36px;
			transition: 0.3s;

			@media (max-width: $screen-sm) {
				font-size: 16px;
				width: 30px;
				height: 30px;
				padding: 6px 0;
			}	

			@media (max-width: $screen-xs) {
				font-size: 13px;
				width: 24px;
				height: 24px;
				padding: 5px 0;
			}			
			
		  	&:hover {
			  background: $shine-dark-blue;
			  color: $white;
			}
		}
	}
	
	.contact-links {
	  	margin-bottom: 30px;
	 	& ul {
		  	list-style: none;
		  	padding: 0;
		  	margin: 0;
		  	& li {
		  		padding: 8px 0;
				@media (max-width: $screen-xs) {
			  		padding: 4px 0;
				}	
			  	&:first-child {
				  padding-top: 0;
				}
			}
			& a {
				@media (max-width: $screen-xs) {
			  		font-size: 13px;
				}	
			  	color: #696592;
			  	&:hover {
				  color: $shine-secondary;
				}
			}
		}
	}
	.form {
		& button[type="submit"] {
		  	background: $shine-secondary;
		  	border: 0;
		  	border-radius: 3px;
		  	padding: 8px 30px;
		  	color: $white;
		  	transition: 0.3s;
			@media (max-width: $screen-xs) {
				font-size: 13px;
			}	
		  	&:hover {
				  background: $shine-dark-blue;
				  cursor: pointer;
			}
		}

		@media (max-width: $screen-sm) {
			.form-control {
				font-size: 14px;
				@media (max-width: $screen-xs) {
					font-size: 13px;
				}	  
			}
		}			
	}

	@media (max-width: $screen-md) {
		.space {
			padding-top: 30px;	  
		}	
	}	
}

/* Back to top button */
.back-to-top {
	position: fixed;
	//display: none;
	background: $shine-secondary;
	color: $white;
	width: 44px;
	height: 44px;
	text-align: center;
	line-height: 1;
	font-size: 16px;
	border-radius: 50%;
	right: 15px;
	bottom: 15px;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	z-index: 11;
	
	& i {
	 	padding-top: 12px;
	 	color: $white;
	}
}
