@import '../../content/scss/shine';

/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../../content/images/hipster.png") no-repeat center top;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../../content/images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}

.box1{background: rgba($shine-green, $alpha);}
.box2{background: rgba($shine-yellow, $alpha);}
.box3{background: rgba($shine-blue, $alpha);}

.container-section {
	width: 100%;
	height: 100%;
	min-height: 100vh;
	.title-padding {
		padding-top: 80px;
	}
}

.carousel-inner,.carousel,.item,.fill {
  width:100%;
  background-size: cover;
  position: relative;
  height: 100vh;
}

.fill-opacity {
  width:100%;
  background-size: cover;
  position: relative;
  height: 100vh;
  /*opacity: 0.8;*/
  background-image: linear-gradient(to right, rgba(250, 0, 0, 0) 0px, rgba(255, 0, 0, 0.5) 100%);
}

a.carousel-control:hover, a.carousel-control.right:hover {
 background-image: linear-gradient(to right, rgba(250, 0, 0, 0) 0px, rgba(255, 0, 0, 0.5) 100%);
}
a.carousel-control.left:hover{
 background-image: linear-gradient(to left, rgba(250, 0, 0, 0) 0px, rgba(255, 0, 0, 0.5) 100%);
}

.bgImgServicesCenter{
	background-size: cover;
    background-image: url('../../content/images/technology1.jpg');
    background-repeat: no-repeat;
    background-position: center; 
    position: relative;
}

.intro-text {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
  	margin: 0 auto;
    width: 40%;
	color: $shine-yellow;
	@media screen and (max-width: 480px) {
    	width: 80%;
	}
	.intro-lead-in { 
		font-size : 22px;
		font-style: italic;
		line-height: 22px;
		margin-bottom: 25px;
		font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	}
	.intro-heading {
		font-size: 50px;
		@media screen and (max-width: 480px) {
    		font-size: 30px;
    		font-weight: 600;
		}
		font-weight: 700;
		line-height: 50px;
		margin-bottom: 25px;
		font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		background: linear-gradient(to right top, $shine-yellow 0%, $shine-yellow 50%, $shine-blue 50%);
  		-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;
	}
}

.center-bottom {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
  	margin: 0 auto;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: $shine-yellow;
  border-color: $shine-yellow;
  color: $shine-blue;
  &:hover,
  &:focus,
  &:active {
    color: $white;
    background-color: darken($shine-green, 5%) !important;
  }
  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba($shine-green,.5) !important;
  }
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: $shine-blue;
}

hr.light {
  border-color: $white;
}

@keyframes delayedShow {
  from {
    margin-left: 0%;
    width: 100%;
  }

  to {
    margin-left: 100%;
    width: 300%;
  }
}

.delayedShow{
	animation-duration: 8s;
  	animation-delay: 0s;
  	animation-name: delayedShow;
  	animation-iteration-count: infinite;
}

.text-shine-gray {
	color: $shine-dark-gray;
}

.img-full {
    width: 100%;
    height: auto;
}
