@import '../../content/scss/shine';

/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../../content/images/hipster.png") no-repeat center top;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../../content/images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}

.box1{background: rgba($shine-green, $alpha);}
.box2{background: rgba($shine-yellow, $alpha);}
.box3{background: rgba($shine-blue, $alpha);}

.container-section {
	width: 100%;
	height: 100%;
	position: relative;
	min-height: 100vh;
	.title-padding {
		padding-top: 80px;
	}
}

@mixin seperator {
    position: absolute;
    top: 0;
    left: 0;
  	height: 300px;
  	width: 100%;	
}

.seperator-services {
	@include seperator;
  	background-color: $shine-orange;
	clip-path: polygon(100% 0, 0 0, 0 65%, 50% 50%, 100% 35%);
}

.seperator-values {
	@include seperator;
  	background-color: $shine-blue;
	clip-path: polygon(100% 0, 0 0, 0 35%, 50% 60%, 100% 35%);
}

.seperator-contact {
	@include seperator;
  	background-color: $shine-red;
	clip-path: polygon(100% 0, 0 0, 0 35%, 50% 50%, 100% 65%);
}

.carousel-wrapper {
  position: relative;
  width: 100%;
  height: 80vh;
}

.carousel {
  width: 100%;
  height: 100%;
}

:host /deep/ .carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23aaa' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

:host /deep/ .carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23aaa' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

:host /deep/ .carousel-indicators li {
    position: relative;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: $shine-light-gray;
}

:host /deep/ .carousel-indicators .active {
    background-color: #aaa;
}

:host /deep/ .carousel-inner {
  height: 100%;
}

.item, .fill {
  width: 100%;
  background-size: cover;
  position: relative;
  height: 100%;
  margin: auto;
}

:host /deep/ .carousel-item {
  height: 100%;
}

.fill-opacity {
  width:100%;
  background-size: cover;
  position: relative;
  height: 100vh;
  /*opacity: 0.8;*/
  background-image: linear-gradient(to right, rgba(250, 0, 0, 0) 0px, rgba(255, 0, 0, 0.5) 100%);
}

a.carousel-control:hover, a.carousel-control.right:hover {
 background-image: linear-gradient(to right, rgba(250, 0, 0, 0) 0px, rgba(255, 0, 0, 0.5) 100%);
}
a.carousel-control.left:hover{
 background-image: linear-gradient(to left, rgba(250, 0, 0, 0) 0px, rgba(255, 0, 0, 0.5) 100%);
}

.intro-text {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
  	margin: 0 auto;
    width: 40%;
	color: $shine-yellow;
	@media screen and (max-width: 480px) {
    	width: 80%;
	}
	.intro-lead-in { 
		font-size : 22px;
		font-style: italic;
		line-height: 22px;
		margin-bottom: 25px;
	}
	.intro-heading {
		font-size: 50px;
		@media screen and (max-width: 480px) {
    		font-size: 30px;
    		font-weight: 600;
		}
		font-weight: 700;
		line-height: 50px;
		margin-bottom: 25px;
		background: linear-gradient(to right top, $white 50%, $shine-yellow 50%);
  		-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;
	}
}

.center-bottom {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
  	margin: 0 auto;
}

.scroll-center-right {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(-50%, -50%);
  	margin: 0 auto;
  	z-index: 100;
}

.scroll-center-right-values {
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translate(-50%, -50%);
  	margin: 0 auto;
  	z-index: 100;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: $shine-green;
  border-color: $shine-green;
  color: $white;
  &:hover,
  &:focus,
  &:active {
    color: $white;
    background-color: darken($shine-red, 5%) !important;
  }
  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba($shine-red,.5) !important;
  }
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: $shine-yellow;
}

hr.light {
  border-color: $white;
}

@keyframes delayedShow {
  from {
    margin-left: 0%;
    width: 100%;
  }

  to {
    margin-left: 100%;
    width: 300%;
  }
}

.delayedShow{
	animation-duration: 8s;
  	animation-delay: 0s;
  	animation-name: delayedShow;
  	animation-iteration-count: infinite;
}

.text-shine-gray {
	color: $shine-dark-gray;
}

.img-full {
    width: 100%;
    height: auto;
}

.wrapper {
	display: table;
	width: 100%;
	height: 100%;
}

.wrapper-inner {
	display: table-cell;
	width: 100%;
	height: 100%;
}

.scroll-down {
	display: block;
	position: relative;
	text-align: center;
	top: -10px;
	margin-left: 10px;
}

.arrow-down {
	display: block;
	margin: 0 auto;
	width: 10px;
	height: 25px;
}

.arrow-down:after {
	content: '';
	display: block;
	margin-left: 13px;
	padding: 0;
	width: 8px;
	height: 8px;
	border-top: 1px solid $shine-yellow;
	border-right: 1px solid $shine-yellow;
	-moz-transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	transform: rotate(135deg);
}

.scroll-title {
	display: block;
	text-transform: uppercase;
	color: $shine-yellow;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: .1em;
	writing-mode: vertical-rl;
  	text-orientation: sideways;
}

.scroll-down::before {
	position: absolute;
	top: -55px;
	left: 50%;
	margin-left: 11px;
	width: 1px;
	height: 63px;
	background: $shine-yellow;
	content: ' ';
}