<section id="home" class="container-section intro" #home>
	<div class="row position-relative full-page-height-row">
 		<div class="imgTechnology"></div>
		<div class="container">
			<div class="title-padding">
			</div>
		    <div class="row intro-top-padding justify-content-center align-self-center">	    
		        <div class="col-md-5 col-sm-12 intro-info order-md-first order-last">
		          <h1><span jhiTranslate="home.main.subtitle.rapidSolutions"></span>
		              <span class="element-color-shine-secondary" jhiTranslate="home.main.subtitle.business"></span></h1>
		          <div class="center">
		            <a routerLink="/" fragment="aboutUs" class="btn-get-started scrollto">
		            	<span jhiTranslate="home.main.getStarted">Get Started</span>
		            </a>
		          </div>
		        </div>
		  
		        <div class="col-md-7 col-sm-12 order-md-last order-first">
					<div class="imgIntro"></div>
		        </div>
	        </div>
    	</div>
    </div>
</section>

<section id="aboutUs" class="container-section about" #aboutUs>
	<div class="row position-relative full-page-height-row">
		<div class="container">
		    <div class="title-padding">
			</div>
	        <div class="row">	
	          <div class="col-lg-5 col-md-12 about-img-padding about-img-sm">
	            <div class="about-img">
	              <div class="img-about-us"></div>
	            </div>
	          </div>
	
	          <div class="col-lg-7 col-md-12">
	            <div class="about-content">
	              <h2><span jhiTranslate="home.aboutUs.title">About Us</span></h2>
	              <h3><span jhiTranslate="home.aboutUs.subtitle">Shine CSL builds tailor-made it solutions for our clients since 2016.</span></h3>
	              <p jhiTranslate="home.aboutUs.text1"></p>
	              <p jhiTranslate="home.aboutUs.text2"></p>
	              <p jhiTranslate="home.aboutUs.text3"></p>
	              <p jhiTranslate="home.aboutUs.text4"></p>
	              <ul>
	                <li><i class="ion-ios-checkbox-outline"></i><span jhiTranslate="home.aboutUs.creativity"></span></li>
	                <li><i class="ion-ios-checkbox-outline"></i><span jhiTranslate="home.aboutUs.efficiency"></span></li>
	                <li><i class="ion-ios-checkbox-outline"></i><span jhiTranslate="home.aboutUs.engagement"></span></li>
	                <li><i class="ion-ios-checkbox-outline"></i><span jhiTranslate="home.aboutUs.transparency"></span></li>
	                <li><i class="ion-ios-checkbox-outline"></i><span jhiTranslate="home.aboutUs.respect"></span></li>
	              </ul>
	            </div>
	          </div>
	        </div>
      	</div>	
    </div>
</section>

<section id="services" class="container-section services" #services>
	<div class="row position-relative full-page-height-row section-bg">
    	<div class="container">
		    <div class="title-padding"></div>
	        <div class="section-header">
	          <h2 class="main-color"><span jhiTranslate="home.services.title">Services</span></h2>
	          <p jhiTranslate="home.services.subtitle"></p>
	        </div>
	
	        <div class="row">
	          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
	            <div class="box">
	              <div class="icon" style="background: #fceef3;"><i class="ionicons ion-md-code" style="color: #ff689b;"></i></div>
	              <h4 class="title"><a class="small-disabled-link" [routerLink]="['/', { outlets: { popup: ['home-website-popup'] } }]"><span jhiTranslate="home.services.webSite.title">Web site</span></a></h4>
	              <p class="description" jhiTranslate="home.services.webSite.text"></p>
	            </div>
	          </div>
	          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
	            <div class="box">
	              <div class="icon" style="background: #fff0da;"><i class="ionicons ion-ios-phone-portrait" style="color: #e98e06;"></i></div>
	              <h4 class="title"><a class="small-disabled-link" [routerLink]="['/', { outlets: { popup: ['home-application-popup'] } }]"><span jhiTranslate="home.services.webApplications.title">Applications</span></a></h4>
	              <p class="description" jhiTranslate="home.services.webApplications.text"></p>
	            </div>
	          </div>
	          <div class="col-md-12 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
	            <div class="box">
	              <div class="icon" style="background: #e6fdfc;"><i class="ionicons ion-ios-people" style="color: #3fcdc7;"></i></div>
	              <h4 class="title"><a class="small-disabled-link" [routerLink]="['/', { outlets: { popup: ['home-resource-popup'] } }]"><span jhiTranslate="home.services.resources.title">Resource Outsourcing</span></a></h4>
	              <p class="description" jhiTranslate="home.services.resources.text"></p>
	            </div>
	          </div>
	      	</div>	
		</div>
		<div class="why-us">
		    <div class="container">	
				<div class="row counters">
					<div class="col-lg-3 col-sm-6 col-12 text-center">
						<span data-toggle="counter-up">2</span>
						<p jhiTranslate="home.whyUs.clients">Clients</p>
					</div>
					<div class="col-lg-3 col-sm-6 col-12 text-center">
						<span data-toggle="counter-up">4</span>
						<p jhiTranslate="home.whyUs.projects">Projects</p>
					</div>
					<div class="col-lg-3 col-sm-6 col-12 text-center">
						<span data-toggle="counter-up">29,808</span>
						<p jhiTranslate="home.whyUs.hoursSupport">Hours Of Support</p>
					</div>
					<div class="col-lg-3 col-sm-6 col-12 text-center">
						<span data-toggle="counter-up">5</span>
						<p jhiTranslate="home.whyUs.hardWorkers">Hard Workers</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="contact" class="container-section contact" #contact>
	<div class="row position-relative full-page-height-row-contact section-bg">
		<div class="container">
		    <div class="title-padding"></div>
			<div class="row pb-5">
				<div class="col-lg-6">
					<div class="row">
						<div class="col-sm-6">
							<div class="contact-info">
								<h2><span jhiTranslate="global.title">Shine CSL</span></h2>
								<p jhiTranslate="home.contact.subtitle"></p>
							</div>
						</div>

						<div class="col-sm-6">
							<div class="contact-links">
								<h4><span jhiTranslate="home.contact.usefulLinks">Useful Links</span></h4>
								<ul>
									<li><a routerLink="/" fragment="home"><span jhiTranslate="global.menu.home">Home</span></a></li>
									<li><a routerLink="/" fragment="aboutUs"><span jhiTranslate="global.menu.aboutUs">About us</span></a></li>
									<li><a routerLink="/" fragment="services"><span jhiTranslate="global.menu.services">Services</span></a></li>
								</ul>
							</div>

							<div class="contact-links">
								<h4><span jhiTranslate="home.contact.title">Contact Us</span></h4>
								<p>
									153 Sir Virgil Naz Avenue <br> Quatre-Bornes <br>
									Mauritius <br> <strong>Phone:</strong> +230 5827 3806<br>
									<strong>Email:</strong> shinecsl@shinecsl.com<br>
								</p>
							</div>

							<div class="social-links">
								<a href="https://twitter.com/CslShine" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a> 
								<a href="https://www.facebook.com/shineConsultingServicesLtd/" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a> 
								<!-- <a href="#" class="instagram" target="_blank"><i class="fa fa-instagram"></i></a> -->
								<a href="https://www.linkedin.com/company/shine-consulting-services-ltd/" class="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-6 space">
					<div class="form">
						<h4><span jhiTranslate="home.contact.sendMessageTitle">Send us a message</span></h4>
<!-- 			            <div class="alert alert-success" *ngIf="success"> -->
<!-- 			                <strong>Your message was sent! Thank you.</strong> Please check your email for confirmation. -->
<!-- 			            </div> -->
			
			            <div class="alert alert-danger" *ngIf="error">
			                <strong>Error while sending message.</strong> Please try again later.
			            </div>
						<p jhiTranslate="home.contact.sendMessageText"></p>
						<form name="form" role="form" class="contactForm" (ngSubmit)="sendMessageAction()" #contactForm="ngForm">
							<div class="form-group">
								<input type="text" name="name" class="form-control" id="name" [(ngModel)]="sendMessage.name" #name="ngModel"
									placeholder="{{'home.contact.form.name.placeholder' | translate}}" minlength="4" required/>
			                    <div *ngIf="name.dirty && name.invalid">
			                        <small class="form-text text-danger"
			                               *ngIf="name.errors.required">
			                            Your Name is required.
			                        </small>
			                        <small class="form-text text-danger" *ngIf="name.errors.minlength">
			                            Your name is required to be at least 2 characters.
			                        </small>
			                    </div>
							</div>
							<div class="form-group">
								<input type="email" class="form-control" name="email" id="email"  [(ngModel)]="sendMessage.email" #email="ngModel"
									placeholder="{{'home.contact.form.email.placeholder' | translate}}" minlength=5 maxlength=100 email required/>
			                    <div *ngIf="email.dirty && email.invalid">
				                    <small class="form-text text-danger" *ngIf="email.errors.required"
		                                jhiTranslate="global.messages.validate.email.required">
		                            Your email is required.
			                        </small>
			                        <small class="form-text text-danger" *ngIf="email.errors.invalid"
			                               jhiTranslate="global.messages.validate.email.invalid">
			                            Your email is invalid.
			                        </small>
			                        <small class="form-text text-danger" *ngIf="email.errors.minlength"
			                               jhiTranslate="global.messages.validate.email.minlength">
			                            Your email is required to be at least 5 characters.
			                        </small>
			                        <small class="form-text text-danger" *ngIf="email.errors.maxlength"
			                               jhiTranslate="global.messages.validate.email.maxlength">
			                            Your email cannot be longer than 100 characters.
			                        </small>
			                    </div>							
			                </div>
							<div class="form-group">
								<input type="text" class="form-control" name="subject"  [(ngModel)]="sendMessage.subject" #subject="ngModel"
									id="subject" placeholder="{{'home.contact.form.subject.placeholder' | translate}}" minlength="4" required/>
			                    <div *ngIf="subject.dirty && subject.invalid">
			                        <small class="form-text text-danger"
			                               *ngIf="subject.errors.required">
			                            The subject is required.
			                        </small>
			                        <small class="form-text text-danger" *ngIf="subject.errors.minlength">
			                            The subject is required to be at least 4 characters.
			                        </small>
			                    </div>
							</div>
							<div class="form-group">
								<textarea class="form-control" name="message" rows="5"  [(ngModel)]="sendMessage.message" #message="ngModel"
									data-msg="Please write something for us" placeholder="{{'home.contact.form.message.placeholder' | translate}}" required></textarea>
				                <div *ngIf="message.dirty && message.invalid">
			                        <small class="form-text text-danger"
			                               *ngIf="message.errors.required">
			                            The message is required.
			                        </small>
			                    </div>
							</div>

							<div class="text-center">
								<button type="submit" [disabled]="contactForm.form.invalid"><span jhiTranslate="home.contact.sendMessageButton">Send message</span></button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div *ngIf="this.isButtonBackToTopVisible">
	<a routerLink="/" fragment="home" class="back-to-top small-no-display"><i class="fa fa-chevron-up"></i></a>
</div>
<!-- <particles [style]="style" [width]="width" [height]="height" [params]="params"></particles> -->