
<div *ngIf="invoiceSubmission">
    <h2><span jhiTranslate="shineWebAppFrontendApp.invoiceSubmission.detail.title">Invoice Submission</span> {{invoiceSubmission.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="shineWebAppFrontendApp.invoiceSubmission.submitted">Submitted</span></dt>
        <dd>
            <span>{{invoiceSubmission.submitted}}</span>
        </dd>
        <dt><span jhiTranslate="shineWebAppFrontendApp.invoiceSubmission.dateInvoice">Date Invoice</span></dt>
        <dd>
            <span>{{invoiceSubmission.dateInvoice | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="shineWebAppFrontendApp.invoiceSubmission.user">User</span></dt>
        <dd>
            {{invoiceSubmission.userLogin}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'invoice-submission/'+ invoiceSubmission.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
