@import 'fonts';

/* ==============================================================
Shine Colors
===============================================================*/
// Declare the color as RGB; SASS will treat this as hex
$shine-green: #F79E54;
$shine-blue: #4795D6;
$shine-red: #FA6D58;
$shine-yellow: #acf011;
$shine-orange: #f44336;
$shine-light-gray: #d2d2d2;
$shine-dark-gray: #212529;
$white: #fff !default;
$black: #000 !default;

@mixin no-padding($side) {
    @if $side == 'all' {
        .no-padding {
            padding: 0 !important;
        }
    } @else {
        .no-padding-#{$side} {
            padding-#{$side}: 0 !important;
        }
    }
}

@include no-padding("left");
@include no-padding("right");
@include no-padding("top");
@include no-padding("bottom");
@include no-padding("all");

@mixin no-margin($side) {
    @if $side == 'all' {
        .no-margin {
            margin: 0 !important;
        }
    } @else {
        .no-margin-#{$side} {
            margin-#{$side}: 0 !important;
        }
    }
}

@include no-margin("left");
@include no-margin("right");
@include no-margin("top");
@include no-margin("bottom");
@include no-margin("all");

// Declare an alpha
$alpha: 1;

body {
    background-color: #fff;
    @include body-font;
}

a {
	outline: 0;
	text-decoration: none;
}

.a-color-yellow {
	color: $shine-yellow;
	&:hover {
       color: $shine-blue;
	}
}

.element-color-yellow {
	color: $shine-yellow;
}

.element-color-white {
	color: $white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  @include heading-font;
}

.jumbotron {
	padding: 1rem 1rem;
}

.custom-day {
   text-align: center;
   padding: 0.185rem 0.25rem;
   border-radius: 0.25rem;
   display: inline-block;
   width: 2rem;
}

.custom-day:hover, .custom-day.focused {
   background-color: #e6e6e6;
}

.weekend, .weekend:hover, .holiday.weekend {
   color: white;
   background-color: #f0ad4e;
   border-radius: 1rem;
}

.holiday, .holiday:hover {
   color: white;
   background-color: #9370DB;
   border-radius: 1rem;
}

.leave-taken, .leave-taken:hover {
   color: white;
   background-color: #aaaaaa;
   border-radius: 1rem;
}

.hidden {
   display: none;
}

.side-border {
  border-left: 1px solid #dddddd;
}

.move-left {
    width: auto;
    box-shadow: none;
}

.screen-padding {
	padding-top: 70px;
}